n8n_easan_admin_stats.json
{
  "name": "Easan 管理後台成效統計",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "easan-admin-stats",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000001",
      "name": "成效統計 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -900,
        0
      ],
      "webhookId": "easan-admin-stats"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\nconst body = item.body || item;\nconst expectedPassword = 'gundam';\nconst password = String(body.password || '').trim();\nconst range = String(body.range || '30').trim();\n\nconst days = Number(range);\nlet cutoffISO = '2000-01-01T00:00:00.000Z';\nif (Number.isFinite(days)) {\n  cutoffISO = new Date(Date.now() - days * 24 * 60 * 60 * 1000).toISOString();\n}\n\nreturn [{\n  json: {\n    ok: password && password === expectedPassword,\n    range,\n    cutoffISO,\n    response: { ok: false, message: '管理密碼錯誤或沒有權限' }\n  }\n}];"
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000002",
      "name": "驗證管理密碼",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e4b9d3c9-9f93-4b1e-9a79-000000000003c",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000003",
      "name": "密碼正確",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.response) }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000004",
      "name": "回傳無權限",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -180,
        180
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "374b3ad1d1cd80eeb5dff6b5991e1d29"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "json",
        "options": {},
        "jsonNotion": "={{ JSON.stringify({ timestamp: 'created_time', created_time: { on_or_after: $('驗證管理密碼').first().json.cutoffISO } }) }}"
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000005",
      "name": "讀取掃描批次",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -180,
        -80
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "2f6b3ad1d1cd8068a597e0994b74654c"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "json",
        "options": {},
        "jsonNotion": "={{ JSON.stringify({ timestamp: 'created_time', created_time: { on_or_after: $('驗證管理密碼').first().json.cutoffISO } }) }}"
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000006",
      "name": "讀取 OCR 明細",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        80,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const auth = $('驗證管理密碼').first().json || {};\nconst range = auth.range || '30';\nconst batches = $('讀取掃描批次').all().map((item) => item.json || {});\nconst details = $input.all().map((item) => item.json || {});\n\nfunction propVal(row, name) {\n  const p = row?.properties?.[name];\n  if (p) {\n    switch (p.type) {\n      case 'title': return (p.title || []).map((t) => t.plain_text).join('');\n      case 'rich_text': return (p.rich_text || []).map((t) => t.plain_text).join('');\n      case 'select': return p.select?.name || '';\n      case 'status': return p.status?.name || '';\n      case 'multi_select': return (p.multi_select || []).map((o) => o.name);\n      case 'number': return p.number ?? '';\n      case 'checkbox': return p.checkbox === true;\n      case 'date': return p.date?.start || '';\n      case 'url': return p.url || '';\n      case 'formula': return p.formula ? (p.formula[p.formula.type] ?? '') : '';\n      default: return '';\n    }\n  }\n  if (row?.[name] !== undefined && row?.[name] !== null) return row[name];\n  if (row?.['property_' + name] !== undefined && row?.['property_' + name] !== null) return row['property_' + name];\n  return '';\n}\n\nfunction batchTime(row) {\n  return propVal(row, '上傳時間') || row.created_time || row.createdTime || propVal(row, '完成時間') || '';\n}\nfunction detailTime(row) {\n  return row.created_time || row.createdTime || propVal(row, '日期') || '';\n}\n\nfunction num(value) {\n  const n = Number(String(value ?? '').replace(/,/g, '').trim());\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction truthy(value) {\n  return value === true || value === '__YES__' || value === 'true' || value === 1;\n}\n\nfunction parseTime(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return null;\n  const time = new Date(raw);\n  return Number.isNaN(time.getTime()) ? null : time;\n}\n\nfunction dayKey(time) {\n  if (!time) return '';\n  const y = time.getFullYear();\n  const m = String(time.getMonth() + 1).padStart(2, '0');\n  const d = String(time.getDate()).padStart(2, '0');\n  return `${y}-${m}-${d}`;\n}\n\nfunction inRange(timeStr) {\n  if (range === 'all') return true;\n  const days = Number(range || 30);\n  if (!Number.isFinite(days)) return true;\n  const time = parseTime(timeStr);\n  if (!time) return true;\n  const cutoff = new Date(Date.now() - days * 24 * 60 * 60 * 1000);\n  return time >= cutoff;\n}\n\nfunction sameDay(date) {\n  if (!date) return false;\n  const now = new Date();\n  return date.getFullYear() === now.getFullYear() && date.getMonth() === now.getMonth() && date.getDate() === now.getDate();\n}\n\nfunction errorTypesOf(row) {\n  const raw = propVal(row, '錯誤類型');\n  let types = [];\n  if (Array.isArray(raw)) types = raw.map((x) => String(x?.name || x).trim()).filter(Boolean);\n  else if (typeof raw === 'string' && raw.trim()) types = raw.split(/[,，、]/).map((s) => s.trim()).filter(Boolean);\n  if (types.length) return types;\n  const reason = String(propVal(row, '異常原因') || propVal(row, '備註') || '');\n  const known = ['製令單號未判讀', '品號未判讀', '品號開頭非英文', '主檔查無品號', '規格未判讀', '規格不符', '字跡模糊'];\n  return known.filter((k) => reason.includes(k));\n}\n\nconst people = (() => { try { return $('讀取人員清單').all().map((i) => i.json || {}); } catch (e) { return []; } })();\nconst nickById = new Map();\nconst nickByName = new Map();\nfor (const p of people) {\n  const uid = String(propVal(p, 'LINE userId')).trim();\n  const nm = String(propVal(p, '名稱')).trim();\n  const nk = String(propVal(p, '暱稱')).trim();\n  if (!nk) continue;\n  if (uid) nickById.set(uid, nk);\n  if (nm) nickByName.set(nm, nk);\n}\nfunction nickOf(userId, name) {\n  return nickById.get(String(userId || '').trim()) || nickByName.get(String(name || '').trim()) || '';\n}\n\nconst scopedDetails = details.filter((row) => inRange(detailTime(row)));\nconst scopedBatches = batches.filter((row) => inRange(batchTime(row)));\nconst passedDetails = scopedDetails.filter((row) => propVal(row, '比對結果') === 'OK');\nconst abnormalDetails = scopedDetails.filter((row) => propVal(row, '比對結果') === '異常');\n\nconst operatorMap = new Map();\nfor (const row of scopedDetails) {\n  const userId = String(propVal(row, 'LINE userId')).trim();\n  const name = String(propVal(row, '操作人') || userId || '未命名').trim();\n  const key = userId || name;\n  if (!operatorMap.has(key)) operatorMap.set(key, { name, userId, total: 0, passed: 0, abnormal: 0, corrected: 0 });\n  const item = operatorMap.get(key);\n  item.total += 1;\n  const status = propVal(row, '比對結果');\n  if (status === 'OK') item.passed += 1;\n  if (status === '異常') item.abnormal += 1;\n  if (truthy(propVal(row, '是否人工修正'))) item.corrected += 1;\n}\n\nconst operators = [...operatorMap.values()].map((operator) => ({\n  ...operator,\n  accuracy: operator.total ? operator.passed / operator.total : 0,\n  correctionRate: operator.total ? operator.corrected / operator.total : 0,\n  nickname: nickOf(operator.userId, operator.name)\n})).sort((a, b) => b.total - a.total);\n\nconst recent = scopedBatches.map((batch) => {\n  const total = num(propVal(batch, '總筆數'));\n  const passed = num(propVal(batch, '通過筆數'));\n  const abnormal = num(propVal(batch, '異常筆數'));\n  return {\n    time: batchTime(batch),\n    batchId: propVal(batch, '批次ID') || propVal(batch, '名稱'),\n    operator: propVal(batch, '操作人'),\n    operatorNick: nickOf(propVal(batch, 'LINE userId'), propVal(batch, '操作人')),\n    orderNo: propVal(batch, '製令單號'),\n    status: propVal(batch, '狀態'),\n    notifyStatus: propVal(batch, '通知狀態'),\n    processingSeconds: num(propVal(batch, '處理秒數')),\n    total,\n    passed,\n    abnormal,\n    accuracy: total ? passed / total : 0\n  };\n}).sort((a, b) => String(b.time).localeCompare(String(a.time))).slice(0, 30);\n\nconst dailyMap = new Map();\nfor (const batch of scopedBatches) {\n  const day = dayKey(parseTime(batchTime(batch)));\n  if (!day) continue;\n  if (!dailyMap.has(day)) dailyMap.set(day, { date: day, batches: 0, total: 0, passed: 0, abnormal: 0 });\n  const bucket = dailyMap.get(day);\n  bucket.batches += 1;\n  bucket.total += num(propVal(batch, '總筆數'));\n  bucket.passed += num(propVal(batch, '通過筆數'));\n  bucket.abnormal += num(propVal(batch, '異常筆數'));\n}\nconst daily = [...dailyMap.values()]\n  .map((d) => ({ ...d, accuracy: d.total ? d.passed / d.total : 0 }))\n  .sort((a, b) => a.date.localeCompare(b.date));\n\nconst errorMap = new Map();\nfor (const row of abnormalDetails) {\n  for (const type of errorTypesOf(row)) {\n    errorMap.set(type, (errorMap.get(type) || 0) + 1);\n  }\n}\nconst errorTypes = [...errorMap.entries()]\n  .map(([name, count]) => ({ name, count }))\n  .sort((a, b) => b.count - a.count);\n\nconst ocrStatusMap = new Map();\nfor (const row of scopedDetails) {\n  const s = String(propVal(row, 'OCR狀態') || '未標記').trim() || '未標記';\n  ocrStatusMap.set(s, (ocrStatusMap.get(s) || 0) + 1);\n}\nconst ocrStatus = [...ocrStatusMap.entries()].map(([name, count]) => ({ name, count }));\n\nconst partMap = new Map();\nfor (const row of abnormalDetails) {\n  const part = String(propVal(row, '品號') || propVal(row, '原始品號') || '').trim() || '（空品號）';\n  if (!partMap.has(part)) partMap.set(part, { partNo: part, count: 0, reasons: new Set() });\n  const item = partMap.get(part);\n  item.count += 1;\n  for (const t of errorTypesOf(row)) item.reasons.add(t);\n}\nconst problemParts = [...partMap.values()]\n  .map((p) => ({ partNo: p.partNo, count: p.count, reasons: [...p.reasons] }))\n  .sort((a, b) => b.count - a.count)\n  .slice(0, 10);\n\nconst notifyMap = new Map();\nfor (const batch of scopedBatches) {\n  const s = String(propVal(batch, '通知狀態') || '未記錄').trim() || '未記錄';\n  notifyMap.set(s, (notifyMap.get(s) || 0) + 1);\n}\nconst notify = [...notifyMap.entries()].map(([name, count]) => ({ name, count }));\n\nconst failedBatches = scopedBatches.filter((b) => String(propVal(b, '狀態')) === '失敗').length;\nconst correctedItems = scopedDetails.filter((row) => truthy(propVal(row, '是否人工修正'))).length;\nconst completeItems = scopedDetails.filter((row) => String(propVal(row, 'OCR狀態')) === '辨識完成').length;\nconst processedBatches = scopedBatches.filter((b) => num(propVal(b, '處理秒數')) > 0);\nconst avgProcessing = processedBatches.length\n  ? processedBatches.reduce((sum, b) => sum + num(propVal(b, '處理秒數')), 0) / processedBatches.length\n  : 0;\n\nconst detailRows = scopedDetails.slice(-1000).map((row) => ({\n  batchId: String(propVal(row, '批次ID') || ''),\n  partNo: String(propVal(row, '品號') || propVal(row, '原始品號') || ''),\n  spec: String(propVal(row, '規格') || ''),\n  status: String(propVal(row, '比對結果') || ''),\n  ocrStatus: String(propVal(row, 'OCR狀態') || ''),\n  corrected: truthy(propVal(row, '是否人工修正')),\n  errorTypes: errorTypesOf(row),\n  note: String(propVal(row, '異常原因') || propVal(row, '備註') || '')\n}));\n\nconst totalItems = scopedDetails.length;\nconst passedItems = passedDetails.length;\nconst abnormalItems = abnormalDetails.length;\nconst todayBatches = scopedBatches.filter((batch) => sameDay(parseTime(batchTime(batch)))).length;\n\nreturn [{\n  json: {\n    ok: true,\n    summary: {\n      accuracy_rate: totalItems ? passedItems / totalItems : 0,\n      total_items: totalItems,\n      passed_items: passedItems,\n      abnormal_items: abnormalItems,\n      total_batches: scopedBatches.length,\n      today_batches: todayBatches,\n      failed_batches: failedBatches,\n      corrected_items: correctedItems,\n      correction_rate: totalItems ? correctedItems / totalItems : 0,\n      ocr_complete_rate: totalItems ? completeItems / totalItems : 0,\n      avg_processing_seconds: Math.round(avgProcessing * 10) / 10\n    },\n    operators,\n    recent,\n    daily,\n    errorTypes,\n    ocrStatus,\n    problemParts,\n    notify,\n    details: detailRows\n  }\n}];\n"
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000007",
      "name": "整理成效統計",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000008",
      "name": "回傳成效統計",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        -80
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "374b3ad1d1cd80c6a923fd022abc0305"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "none",
        "options": {}
      },
      "id": "stats-people-0001",
      "name": "讀取人員清單",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        220,
        120
      ],
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "成效統計 Webhook": {
      "main": [
        [
          {
            "node": "驗證管理密碼",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "驗證管理密碼": {
      "main": [
        [
          {
            "node": "密碼正確",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "密碼正確": {
      "main": [
        [
          {
            "node": "讀取掃描批次",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "回傳無權限",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取掃描批次": {
      "main": [
        [
          {
            "node": "讀取 OCR 明細",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取 OCR 明細": {
      "main": [
        [
          {
            "node": "讀取人員清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理成效統計": {
      "main": [
        [
          {
            "node": "回傳成效統計",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取人員清單": {
      "main": [
        [
          {
            "node": "整理成效統計",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "admin-stats-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "EasanAdminStats",
  "tags": []
}
