n8n_easan_html_ocr_notion_simple.json
{
  "name": "Easan HTML OCR Notion 簡化版",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "easan-html-ocr",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "image",
          "allowedOrigins": "*"
        }
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000001",
      "name": "HTML OCR Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        0
      ],
      "webhookId": "easan-html-ocr"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binaryKeys = Object.keys(item.binary || {});\nconst imageKey = binaryKeys.includes('image') ? 'image' : binaryKeys[0];\nconst image = imageKey ? item.binary[imageKey] : null;\nif (!image?.data) {\n  throw new Error('未收到圖片檔案。HTML FormData 欄位請命名為 image。');\n}\n\nconst body = item.json || {};\nconst operatorRaw = body.operator || body.operatorJson || '{}';\nlet operator = {};\ntry {\n  operator = typeof operatorRaw === 'string' ? JSON.parse(operatorRaw) : operatorRaw;\n} catch (error) {\n  operator = {};\n}\n\nconst prompt = `你是製造業「現場補料單」OCR 與資料結構化助手。請辨識圖片中的單據資料，嚴格以 JSON 格式輸出，不要輸出 markdown 標記（如 \\`\\`\\`json），也不要加上任何解釋文字。\n\n【一、資料擷取核心邏輯】\n1. 全局預判：請先掃描圖片中的表格，確認共有幾列明細，並將數字填入 total_detected_rows。\n2. 換列判定：只要有獨立的「品號」、「規格」或「數量」出現，即視為獨立的一筆明細，必須與上下列分開。\n3. 絕對完整性：看見幾列就必須輸出幾個 items。若某列字跡模糊或資料缺失，仍須保留該列，將無法辨識的欄位填入空字串或 0，並於 note 註明「字跡模糊無法判讀」。不可擅自忽略或整併正常資料。\n4. 空白列排除：表格下方只有 #N/A 或完全空白且沒有品號、規格、數量的列，不算明細，不要輸出。\n\n【二、欄位業務規則】\n1. 共通資訊：表頭的「日期」請統一套用至所有 items。若每列製令單號相同，order_no 填主要製令單號；每列仍需在 work_order_no 填入該列製令單號。\n2. 日期：若圖片為民國年，例如 115/2/13，請轉成西元 2026-02-13T00:00:00+08:00。無法判讀則輸出空字串。\n3. 品號 part_no：\n   - 第一個字元必須是英文大寫 A-Z。\n   - 優先進行 OCR 誤讀校正：首碼若為 0 修正為 O；1 修正為 I；5 修正為 S；8 修正為 B。\n   - 若校正後仍無法確認首碼為英文，請輸出空字串，並在 note 寫明「品號開頭非英文或無法確認」。\n4. 規格 spec：包含尺寸、材質、百分比、中文描述或特殊符號，請完整保留原始文字，勿翻譯、勿截斷、勿合併相鄰列。\n5. 數量欄位：只輸出數字；無法判讀時輸出 0。手寫數字若位於「實領數量」欄，請判斷為 received_qty；不要把勾勾、分數註記或括號當作規格。\n6. 備註欄：請保留該列備註；沒有問題則填 OK。\n\n【三、輸出 JSON 結構】\n請嚴格遵守以下格式，確保可被 JSON.parse() 解析：\n{\n  \"total_detected_rows\": 0,\n  \"order_no\": \"製令單號或單據號碼，無法判讀則空字串\",\n  \"date\": \"YYYY-MM-DDTHH:mm:ss+08:00，無法判讀則空字串\",\n  \"items\": [\n    {\n      \"row_no\": 1,\n      \"work_order_no\": \"該列製令單號；若只有表頭製令單號，請填表頭值；無法判讀則空字串\",\n      \"part_no\": \"首碼必為英文，無法確認則空字串\",\n      \"spec\": \"完整規格描述，無法判讀則空字串\",\n      \"defective_qty\": 0,\n      \"request_qty\": 0,\n      \"received_qty\": 0,\n      \"note\": \"備註、異常原因；沒有問題則填 OK\"\n    }\n  ]\n}`;\n\nreturn [{\n  json: {\n    operator,\n    imageMeta: {\n      fileName: image.fileName || '',\n      mimeType: image.mimeType || 'image/jpeg',\n      fileSize: image.fileSize || ''\n    },\n    prompt\n  },\n  binary: {\n    image\n  }\n}];"
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000002",
      "name": "準備 Gemini 請求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "={{ $json.prompt }}",
        "inputType": "binary",
        "binaryPropertyName": "image",
        "simplify": true,
        "options": {
          "maxOutputTokens": 4096
        }
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000003",
      "name": "Gemini OCR 分析",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const NOTION_TOKEN = $env.NOTION_TOKEN;\nconst MASTER_DB = '33eb3ad1d1cd80fc9674e730c3c87469';\nconst RESULT_DB = '2f6b3ad1d1cd8068a597e0994b74654c';\nconst BATCH_DB = '374b3ad1d1cd80eeb5dff6b5991e1d29';\n\nif (!NOTION_TOKEN) throw new Error('缺少環境變數 NOTION_TOKEN');\n\nconst requestMeta = $('準備 Gemini 請求').first().json;\nconst operator = requestMeta.operator || {};\nconst imageMeta = requestMeta.imageMeta || {};\nconst startedAt = new Date();\nconst batchId = `OCR-${startedAt.toISOString().replace(/[-:.TZ]/g, '').slice(0, 14)}`;\n\nconst notionHeaders = {\n  Authorization: `Bearer ${NOTION_TOKEN}`,\n  'Notion-Version': '2022-06-28',\n  'Content-Type': 'application/json'\n};\n\nfunction richText(value) {\n  const text = String(value ?? '').slice(0, 1900);\n  return text ? [{ type: 'text', text: { content: text } }] : [];\n}\n\nfunction title(value) {\n  return [{ type: 'text', text: { content: String(value || '未判讀').slice(0, 1900) } }];\n}\n\nfunction num(value) {\n  const n = Number(String(value ?? '').replace(/,/g, '').trim());\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction normalize(value) {\n  return String(value || '')\n    .toUpperCase()\n    .replace(/\\s+/g, '')\n    .replace(/[，,。.;；:：()（）\\[\\]【】\"'「」]/g, '')\n    .trim();\n}\n\nfunction isValidPartNo(value) {\n  return /^[A-Za-z]/.test(String(value || '').trim());\n}\n\nfunction extractText(prop) {\n  if (!prop) return '';\n  if (prop.title) return prop.title.map((x) => x.plain_text || '').join('');\n  if (prop.rich_text) return prop.rich_text.map((x) => x.plain_text || '').join('');\n  if (prop.select) return prop.select.name || '';\n  if (prop.number !== undefined) return String(prop.number ?? '');\n  return '';\n}\n\nfunction safeDate(value) {\n  const text = String(value || '').trim();\n  if (!text) return null;\n  const date = new Date(text);\n  return Number.isNaN(date.getTime()) ? null : text;\n}\n\nfunction getGeminiText(payload) {\n  for (const key of ['text', 'output', 'content', 'response', 'result', 'completion']) {\n    if (typeof payload[key] === 'string' && payload[key].trim()) return payload[key].trim();\n  }\n  if (typeof payload.message?.content === 'string') return payload.message.content.trim();\n  if (typeof payload.data === 'string') return payload.data.trim();\n  const text = payload.candidates?.[0]?.content?.parts?.find((part) => typeof part.text === 'string')?.text || '';\n  return text.trim();\n}\n\nfunction fallbackOcr(reason) {\n  return {\n    order_no: '',\n    date: '',\n    items: [{\n      work_order_no: '',\n      part_no: '',\n      spec: '',\n      defective_qty: 0,\n      request_qty: 0,\n      received_qty: 0,\n      note: reason\n    }]\n  };\n}\n\nfunction parseOcr(payload) {\n  const rawText = getGeminiText(payload);\n  if (!rawText) return fallbackOcr('Gemini 未回傳文字內容');\n  try {\n    return JSON.parse(rawText);\n  } catch (error) {\n    const cleaned = rawText.replace(/^```json/i, '').replace(/^```/i, '').replace(/```$/i, '').trim();\n    try {\n      return JSON.parse(cleaned);\n    } catch (innerError) {\n      const match = rawText.match(/\\{[\\s\\S]*\\}/);\n      if (!match) return fallbackOcr('Gemini 回傳非 JSON');\n      try {\n        return JSON.parse(match[0]);\n      } catch (lastError) {\n        return fallbackOcr('Gemini JSON 解析失敗');\n      }\n    }\n  }\n}\n\nasync function notionRequest(method, url, body) {\n  const response = await fetch(url, {\n    method,\n    headers: notionHeaders,\n    body: body ? JSON.stringify(body) : undefined\n  });\n  const data = await response.json().catch(() => ({}));\n  if (!response.ok) {\n    throw new Error(`Notion API ${response.status}: ${JSON.stringify(data)}`);\n  }\n  return data;\n}\n\nasync function queryAllMasterPages() {\n  const results = [];\n  let start_cursor;\n  do {\n    const body = { page_size: 100 };\n    if (start_cursor) body.start_cursor = start_cursor;\n    const data = await notionRequest('POST', `https://api.notion.com/v1/databases/${MASTER_DB}/query`, body);\n    results.push(...(data.results || []));\n    start_cursor = data.has_more ? data.next_cursor : undefined;\n  } while (start_cursor);\n  return results;\n}\n\nasync function createBatch(summary) {\n  const now = new Date().toISOString();\n  return notionRequest('POST', 'https://api.notion.com/v1/pages', {\n    parent: { database_id: BATCH_DB },\n    properties: {\n      '名稱': { title: title(batchId) },\n      '批次ID': { rich_text: richText(batchId) },\n      '操作人': { rich_text: richText(operator.name || operator.displayName || '') },\n      'LINE userId': { rich_text: richText(operator.userId || '') },\n      '來源': { select: { name: 'HTML' } },\n      '上傳時間': { date: { start: now } },\n      '完成時間': { date: { start: now } },\n      '狀態': { select: { name: '已寫入' } },\n      '製令單號': { rich_text: richText(summary.order_no || '') },\n      '總筆數': { number: summary.total },\n      '通過筆數': { number: summary.passed },\n      '異常筆數': { number: summary.abnormal },\n      '人工修正筆數': { number: 0 },\n      '圖片檔名': { rich_text: richText(imageMeta.fileName || '') },\n      '圖片資訊': { rich_text: richText(`${imageMeta.mimeType || ''} ${imageMeta.fileSize || ''}`.trim()) }\n    }\n  });\n}\n\nasync function createResultPage(row, batchUrl) {\n  const date = safeDate(row.date);\n  const properties = {\n    '製令單號': { title: title(row.work_order_no || row.order_no || '未判讀') },\n    '製令單號check': { checkbox: row.orderNoCheck },\n    '日期': date ? { date: { start: date } } : { date: null },\n    '品號': { rich_text: richText(row.partNo) },\n    '品號check': { checkbox: row.partNoCheck },\n    '規格': { rich_text: richText(row.spec) },\n    '規格check': { checkbox: row.specCheck },\n    '不良數量': { number: num(row.defectiveQty) },\n    '需領數量': { number: num(row.requestQty) },\n    '實領數量': { number: num(row.receivedQty) },\n    '備註': { rich_text: richText(row.note) },\n    '批次ID': { rich_text: richText(batchId) },\n    '操作人': { rich_text: richText(operator.name || operator.displayName || '') },\n    'LINE userId': { rich_text: richText(operator.userId || '') },\n    '原始品號': { rich_text: richText(row.partNo) },\n    '原始規格': { rich_text: richText(row.spec) },\n    '是否人工修正': { checkbox: false },\n    '比對結果': { select: { name: row.status } },\n    'OCR狀態': { select: { name: row.ocrStatus } },\n    '主檔規格': { rich_text: richText(row.masterSpec) },\n    '異常原因': { rich_text: richText(row.note) },\n    'Notion批次URL': batchUrl ? { url: batchUrl } : { url: null }\n  };\n\n  return notionRequest('POST', 'https://api.notion.com/v1/pages', {\n    parent: { database_id: RESULT_DB },\n    properties\n  });\n}\n\nconst ocr = parseOcr($json);\nlet items = Array.isArray(ocr.items) ? ocr.items : [];\nitems = items.filter((item) => {\n  const partNo = String(item.part_no || '').trim();\n  const spec = String(item.spec || '').trim();\n  return partNo || spec || item.note;\n});\nif (!items.length) {\n  items = fallbackOcr('OCR 沒有有效明細列').items;\n}\n\nconst masterPages = await queryAllMasterPages();\nconst masterMap = new Map();\nfor (const page of masterPages) {\n  const partNo = extractText(page.properties?.['品號']).trim();\n  if (partNo) masterMap.set(normalize(partNo), page);\n}\n\nconst rows = items.map((item) => {\n  const partNo = String(item.part_no || '').trim();\n  const spec = String(item.spec || '').trim();\n  const workOrderNo = String(item.work_order_no || ocr.order_no || '').trim();\n  const master = masterMap.get(normalize(partNo));\n  const masterSpec = extractText(master?.properties?.['規格']);\n  const orderNoCheck = Boolean(workOrderNo && workOrderNo !== '未判讀');\n  const partNoStartsOk = isValidPartNo(partNo);\n  const partNoCheck = Boolean(partNoStartsOk && master);\n  const specCheck = Boolean(master && normalize(masterSpec) && normalize(spec) && normalize(masterSpec) === normalize(spec));\n  const notes = [];\n  if (!orderNoCheck) notes.push('製令單號未判讀');\n  if (!partNo) notes.push('品號未判讀');\n  if (partNo && !partNoStartsOk) notes.push('品號開頭非英文');\n  if (partNoStartsOk && !master) notes.push('主檔查無品號');\n  if (!spec) notes.push('規格未判讀');\n  if (master && !specCheck) notes.push(`規格不符；主檔：${masterSpec || '空值'}`);\n  if (item.note) notes.push(String(item.note));\n  const status = orderNoCheck && partNoCheck && specCheck ? 'OK' : '異常';\n  const ocrStatus = partNo && spec ? '辨識完成' : '辨識不完整';\n  return {\n    status,\n    ocrStatus,\n    order_no: ocr.order_no || '',\n    work_order_no: workOrderNo,\n    date: ocr.date || '',\n    partNo,\n    spec,\n    masterSpec,\n    defectiveQty: num(item.defective_qty),\n    requestQty: num(item.request_qty),\n    receivedQty: num(item.received_qty),\n    orderNoCheck,\n    partNoCheck,\n    specCheck,\n    note: notes.join('；') || 'OK'\n  };\n});\n\nconst total = rows.length;\nconst abnormal = rows.filter((row) => row.status !== 'OK').length;\nconst summary = {\n  order_no: ocr.order_no || rows[0]?.work_order_no || '',\n  date: ocr.date || '',\n  total,\n  passed: total - abnormal,\n  abnormal\n};\n\nconst batchPage = await createBatch(summary);\nconst createdPages = [];\nfor (const row of rows) {\n  const page = await createResultPage(row, batchPage.url);\n  createdPages.push(page);\n}\n\nreturn [{\n  json: {\n    ok: true,\n    batchId,\n    order_no: summary.order_no,\n    date: summary.date,\n    total: summary.total,\n    passed: summary.passed,\n    abnormal: summary.abnormal,\n    first_notion_url: createdPages[0]?.url || batchPage.url || '',\n    batch_notion_url: batchPage.url || '',\n    results: rows.map((row, index) => ({\n      status: row.status,\n      partNo: row.partNo,\n      spec: row.spec,\n      defectiveQty: row.defectiveQty,\n      requestQty: row.requestQty,\n      receivedQty: row.receivedQty,\n      note: row.note,\n      notionUrl: createdPages[index]?.url || ''\n    }))\n  }\n}];"
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000004",
      "name": "比對並寫入 Notion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000005",
      "name": "回傳 HTML 結果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "HTML OCR Webhook": {
      "main": [
        [
          {
            "node": "準備 Gemini 請求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "準備 Gemini 請求": {
      "main": [
        [
          {
            "node": "Gemini OCR 分析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini OCR 分析": {
      "main": [
        [
          {
            "node": "比對並寫入 Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "比對並寫入 Notion": {
      "main": [
        [
          {
            "node": "回傳 HTML 結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "simple-html-ocr-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "EasanHtmlOcrNotionSimple",
  "tags": []
}