n8n_easan_admin_permissions.json
{
  "name": "Easan 管理後台人員權限",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "easan-admin-permissions",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000001",
      "name": "人員權限管理 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -900,
        0
      ],
      "webhookId": "easan-admin-permissions"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\nconst body = item.body || item;\nconst expectedPassword = 'gundam';\nconst password = String(body.password || '').trim();\nconst action = String(body.action || 'list').trim();\nconst pageId = String(body.pageId || '').trim();\nconst status = ['待審核', '已開通', '停用'].includes(body.status) ? body.status : '待審核';\nconst ocrEnabled = body.ocrEnabled === true || body.ocrEnabled === 'true';\nconst features = ocrEnabled ? ['OCR補料單'] : [];\n\nreturn [{\n  json: {\n    ok: password && password === expectedPassword,\n    action,\n    pageId,\n    status,\n    ocrEnabled,\n    features,\n    response: {\n      ok: false,\n      message: '管理密碼錯誤或沒有權限'\n    }\n  }\n}];"
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000002",
      "name": "驗證管理請求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d3a8c2b8-8f82-4a0d-8f68-000000000003c",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000003",
      "name": "密碼正確",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.response) }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000004",
      "name": "回傳無權限",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -180,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d3a8c2b8-8f82-4a0d-8f68-000000000005c",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000005",
      "name": "是否更新權限",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -180,
        -40
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.pageId }}",
        "simple": true,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "狀態|select",
              "selectValue": "={{ $json.status }}"
            },
            {
              "key": "可使用功能|multi_select",
              "multiSelectValue": "={{ $json.features }}"
            },
            {
              "key": "最後使用時間|date",
              "date": "={{ new Date().toISOString() }}",
              "includeTime": true,
              "range": false,
              "timezone": "default"
            }
          ]
        },
        "options": {}
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000006",
      "name": "更新人員權限",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        80,
        -160
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "374b3ad1d1cd80c6a923fd022abc0305"
        },
        "returnAll": true,
        "simple": true,
        "filterType": "none",
        "options": {}
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000007",
      "name": "讀取人員權限清單",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        340,
        -40
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "function getValue(obj, keys) {\n  for (const key of keys) {\n    if (obj?.[key] !== undefined && obj?.[key] !== null) return obj[key];\n  }\n  return '';\n}\n\nfunction toList(value) {\n  if (Array.isArray(value)) return value.map((item) => String(item?.name || item).trim()).filter(Boolean);\n  const text = String(value ?? '').trim();\n  if (!text) return [];\n  try {\n    const parsed = JSON.parse(text);\n    if (Array.isArray(parsed)) return parsed.map((item) => String(item?.name || item).trim()).filter(Boolean);\n  } catch (error) {}\n  return text.split(/[,，、]/).map((item) => item.trim()).filter(Boolean);\n}\n\nconst operators = $input.all().map((item) => {\n  const row = item.json || {};\n  const url = row.url || '';\n  return {\n    pageId: row.id || row.pageId || url,\n    name: getValue(row, ['名稱', 'property_名稱', 'name', 'Name', 'title']),\n    userId: getValue(row, ['LINE userId', 'property_LINE userId']),\n    displayName: getValue(row, ['LINE顯示名稱', 'property_LINE顯示名稱']),\n    status: getValue(row, ['狀態', 'property_狀態']) || '待審核',\n    role: getValue(row, ['角色', 'property_角色']),\n    features: toList(getValue(row, ['可使用功能', 'property_可使用功能'])),\n    note: getValue(row, ['備註', 'property_備註'])\n  };\n}).filter((operator) => operator.pageId || operator.userId || operator.name);\n\noperators.sort((a, b) => String(a.name || '').localeCompare(String(b.name || ''), 'zh-Hant'));\n\nconst response = {\n  ok: true,\n  operators\n};\n\nreturn [{ json: { ...response, response } }];"
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000008",
      "name": "整理人員權限清單",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -40
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.response || $json) }}",
        "options": {}
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000009",
      "name": "回傳人員權限清單",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        -40
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "人員權限管理 Webhook": {
      "main": [
        [
          {
            "node": "驗證管理請求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "驗證管理請求": {
      "main": [
        [
          {
            "node": "密碼正確",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "密碼正確": {
      "main": [
        [
          {
            "node": "是否更新權限",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "回傳無權限",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否更新權限": {
      "main": [
        [
          {
            "node": "更新人員權限",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "讀取人員權限清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新人員權限": {
      "main": [
        [
          {
            "node": "讀取人員權限清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取人員權限清單": {
      "main": [
        [
          {
            "node": "整理人員權限清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理人員權限清單": {
      "main": [
        [
          {
            "node": "回傳人員權限清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "admin-permissions-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "EasanAdminPermissions",
  "tags": []
}
