n8n_easan_operator_permission.json
{
  "name": "Easan LIFF 使用者開通查詢",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "easan-operator-permission",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "c2f7a1a7-7f61-4e9c-b2a5-000000000001",
      "name": "開通查詢 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ],
      "webhookId": "easan-operator-permission"
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "374b3ad1d1cd80c6a923fd022abc0305"
        },
        "returnAll": true,
        "simple": true,
        "filterType": "none",
        "options": {}
      },
      "id": "c2f7a1a7-7f61-4e9c-b2a5-000000000002",
      "name": "讀取開通名單",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const requestItem = $('開通查詢 Webhook').first().json || {};\nconst body = requestItem.body || requestItem;\nconst userId = String(body.userId || body.user_id || body.lineUserId || body.line_user_id || body['LINE userId'] || '').trim();\nconst displayName = String(body.displayName || body.name || body.operatorName || '').trim();\nconst operators = $input.all().map((item) => item.json || {});\nconst requiredFeature = 'OCR補料單';\n\nfunction getValue(obj, keys) {\n  for (const key of keys) {\n    if (obj?.[key] !== undefined && obj?.[key] !== null) return obj[key];\n  }\n  return '';\n}\n\nfunction normalize(value) {\n  return String(value || '').trim();\n}\n\nfunction toList(value) {\n  if (Array.isArray(value)) return value.map((item) => String(item?.name || item).trim()).filter(Boolean);\n  const text = String(value ?? '').trim();\n  if (!text) return [];\n  try {\n    const parsed = JSON.parse(text);\n    if (Array.isArray(parsed)) return parsed.map((item) => String(item?.name || item).trim()).filter(Boolean);\n  } catch (error) {}\n  return text.split(/[,，、]/).map((item) => item.trim()).filter(Boolean);\n}\n\nconst matched = operators.find((operator) => {\n  const allowedUserId = normalize(getValue(operator, [\n    'property_LINE userId',\n    'LINE userId',\n    'property_userId',\n    'userId',\n    'property_lineUserId',\n    'lineUserId'\n  ]));\n  return userId && allowedUserId === userId;\n});\n\nconst status = normalize(getValue(matched || {}, ['property_狀態', '狀態']));\nconst features = toList(getValue(matched || {}, ['property_可使用功能', '可使用功能']));\nconst allowed = Boolean(matched && status === '已開通' && features.includes(requiredFeature));\nconst name = normalize(getValue(matched || {}, ['property_名稱', '名稱', 'property_姓名', '姓名', 'property_name', 'name', 'Name', 'title'])) || displayName;\nconst role = normalize(getValue(matched || {}, ['property_角色', '角色']));\n\nreturn [{\n  json: {\n    ok: Boolean(userId),\n    allowed,\n    userId,\n    name,\n    displayName,\n    role,\n    features,\n    status: status || '未建立',\n    message: userId ? (allowed ? '已開通' : '未開通或未開放 OCR補料單') : '缺少 LINE userId'\n  }\n}];"
      },
      "id": "c2f7a1a7-7f61-4e9c-b2a5-000000000003",
      "name": "判斷開通資格",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "c2f7a1a7-7f61-4e9c-b2a5-000000000004",
      "name": "回傳開通結果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        260,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "開通查詢 Webhook": {
      "main": [
        [
          {
            "node": "讀取開通名單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取開通名單": {
      "main": [
        [
          {
            "node": "判斷開通資格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判斷開通資格": {
      "main": [
        [
          {
            "node": "回傳開通結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "operator-permission-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "EasanOperatorPermission",
  "tags": []
}
