n8n_easan_html_ocr_notion_nodes.json
{
  "name": "Easan HTML OCR Notion зҜҖй»һзүҲ",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "easan-html-ocr",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "image",
          "allowedOrigins": "*"
        }
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000001",
      "name": "HTML OCR Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        0
      ],
      "webhookId": "easan-html-ocr"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binaryKeys = Object.keys(item.binary || {});\nconst imageKey = binaryKeys.includes('image') ? 'image' : binaryKeys[0];\nconst image = imageKey ? item.binary[imageKey] : null;\nif (!image?.data) {\n  throw new Error('жңӘж”¶еҲ°ең–зүҮжӘ”жЎҲгҖӮHTML FormData ж¬„дҪҚи«Ӣе‘ҪеҗҚзӮә imageгҖӮ');\n}\n\nconst body = item.json || {};\nconst operatorRaw = body.operator || body.operatorJson || '{}';\nlet operator = {};\ntry {\n  operator = typeof operatorRaw === 'string' ? JSON.parse(operatorRaw) : operatorRaw;\n} catch (error) {\n  operator = {};\n}\n\nconst prompt = `дҪ жҳҜиЈҪйҖ жҘӯгҖҢзҸҫе ҙиЈңж–ҷе–®гҖҚOCR иҲҮиіҮж–ҷзөҗж§ӢеҢ–еҠ©жүӢгҖӮи«ӢиҫЁиӯҳең–зүҮдёӯзҡ„е–®ж“ҡиіҮж–ҷпјҢеҡҙж јд»Ҙ JSON ж јејҸијёеҮәпјҢдёҚиҰҒијёеҮә markdown жЁҷиЁҳпјҲеҰӮ \\`\\`\\`jsonпјүпјҢд№ҹдёҚиҰҒеҠ дёҠд»»дҪ•и§ЈйҮӢж–Үеӯ—гҖӮ\n\nгҖҗдёҖгҖҒиіҮж–ҷж“·еҸ–ж ёеҝғйӮҸијҜгҖ‘\n1. е…ЁеұҖй җеҲӨпјҡи«Ӣе…ҲжҺғжҸҸең–зүҮдёӯзҡ„иЎЁж јпјҢзўәиӘҚе…ұжңүе№ҫеҲ—жҳҺзҙ°пјҢдёҰе°Үж•ёеӯ—еЎ«е…Ҙ total_detected_rowsгҖӮ\n2. жҸӣеҲ—еҲӨе®ҡпјҡеҸӘиҰҒжңүзҚЁз«Ӣзҡ„гҖҢе“ҒиҷҹгҖҚгҖҒгҖҢиҰҸж јгҖҚжҲ–гҖҢж•ёйҮҸгҖҚеҮәзҸҫпјҢеҚіиҰ–зӮәзҚЁз«Ӣзҡ„дёҖзӯҶжҳҺзҙ°пјҢеҝ…й ҲиҲҮдёҠдёӢеҲ—еҲҶй–ӢгҖӮ\n3. зө•е°Қе®Ңж•ҙжҖ§пјҡзңӢиҰӢе№ҫеҲ—е°ұеҝ…й ҲијёеҮәе№ҫеҖӢ itemsгҖӮиӢҘжҹҗеҲ—еӯ—и·ЎжЁЎзіҠжҲ–иіҮж–ҷзјәеӨұпјҢд»Қй Ҳдҝқз•ҷи©ІеҲ—пјҢе°Үз„Ўжі•иҫЁиӯҳзҡ„ж¬„дҪҚеЎ«е…Ҙз©әеӯ—дёІжҲ– 0пјҢдёҰж–ј note иЁ»жҳҺгҖҢеӯ—и·ЎжЁЎзіҠз„Ўжі•еҲӨи®ҖгҖҚгҖӮдёҚеҸҜж“…иҮӘеҝҪз•ҘжҲ–ж•ҙдҪөжӯЈеёёиіҮж–ҷгҖӮ\n4. з©әзҷҪеҲ—жҺ’йҷӨпјҡиЎЁж јдёӢж–№еҸӘжңү #N/A жҲ–е®Ңе…Ёз©әзҷҪдё”жІ’жңүе“ҒиҷҹгҖҒиҰҸж јгҖҒж•ёйҮҸзҡ„еҲ—пјҢдёҚз®—жҳҺзҙ°пјҢдёҚиҰҒијёеҮәгҖӮ\n\nгҖҗдәҢгҖҒж¬„дҪҚжҘӯеӢҷиҰҸеүҮгҖ‘\n1. е…ұйҖҡиіҮиЁҠпјҡиЎЁй ӯзҡ„гҖҢж—ҘжңҹгҖҚи«ӢзөұдёҖеҘ—з”ЁиҮіжүҖжңү itemsгҖӮиӢҘжҜҸеҲ—иЈҪд»Өе–®иҷҹзӣёеҗҢпјҢorder_no еЎ«дё»иҰҒиЈҪд»Өе–®иҷҹпјӣжҜҸеҲ—д»ҚйңҖеңЁ work_order_no еЎ«е…Ҙи©ІеҲ—иЈҪд»Өе–®иҷҹгҖӮ\n2. ж—ҘжңҹпјҡиӢҘең–зүҮзӮәж°‘еңӢе№ҙпјҢдҫӢеҰӮ 115/2/13пјҢи«ӢиҪүжҲҗиҘҝе…ғ 2026-02-13T00:00:00+08:00гҖӮз„Ўжі•еҲӨи®ҖеүҮијёеҮәз©әеӯ—дёІгҖӮ\n3. е“Ғиҷҹ part_noпјҡ\n   - з¬¬дёҖеҖӢеӯ—е…ғеҝ…й ҲжҳҜиӢұж–ҮеӨ§еҜ« A-ZгҖӮ\n   - е„Әе…ҲйҖІиЎҢ OCR иӘӨи®Җж ЎжӯЈпјҡйҰ–зўјиӢҘзӮә 0 дҝ®жӯЈзӮә Oпјӣ1 дҝ®жӯЈзӮә Iпјӣ5 дҝ®жӯЈзӮә Sпјӣ8 дҝ®жӯЈзӮә BгҖӮ\n   - иӢҘж ЎжӯЈеҫҢд»Қз„Ўжі•зўәиӘҚйҰ–зўјзӮәиӢұж–ҮпјҢи«ӢијёеҮәз©әеӯ—дёІпјҢдёҰеңЁ note еҜ«жҳҺгҖҢе“Ғиҷҹй–Ӣй ӯйқһиӢұж–ҮжҲ–з„Ўжі•зўәиӘҚгҖҚгҖӮ\n4. иҰҸж ј specпјҡеҢ…еҗ«е°әеҜёгҖҒжқҗиіӘгҖҒзҷҫеҲҶжҜ”гҖҒдёӯж–ҮжҸҸиҝ°жҲ–зү№ж®Ҡз¬ҰиҷҹпјҢи«Ӣе®Ңж•ҙдҝқз•ҷеҺҹе§Ӣж–Үеӯ—пјҢеӢҝзҝ»иӯҜгҖҒеӢҝжҲӘж–·гҖҒеӢҝеҗҲдҪөзӣёй„°еҲ—гҖӮ\n5. ж•ёйҮҸж¬„дҪҚпјҡеҸӘијёеҮәж•ёеӯ—пјӣз„Ўжі•еҲӨи®ҖжҷӮијёеҮә 0гҖӮжүӢеҜ«ж•ёеӯ—иӢҘдҪҚж–јгҖҢеҜҰй ҳж•ёйҮҸгҖҚж¬„пјҢи«ӢеҲӨж–·зӮә received_qtyпјӣдёҚиҰҒжҠҠеӢҫеӢҫгҖҒеҲҶж•ёиЁ»иЁҳжҲ–жӢ¬иҷҹз•¶дҪңиҰҸж јгҖӮ\n6. еӮҷиЁ»ж¬„пјҡи«Ӣдҝқз•ҷи©ІеҲ—еӮҷиЁ»пјӣжІ’жңүе•ҸйЎҢеүҮеЎ« OKгҖӮ\n\nгҖҗдёүгҖҒијёеҮә JSON зөҗж§ӢгҖ‘\nи«Ӣеҡҙж јйҒөе®Ҳд»ҘдёӢж јејҸпјҢзўәдҝқеҸҜиў« JSON.parse() и§Јжһҗпјҡ\n{\n  \"total_detected_rows\": 0,\n  \"order_no\": \"иЈҪд»Өе–®иҷҹжҲ–е–®ж“ҡиҷҹзўјпјҢз„Ўжі•еҲӨи®ҖеүҮз©әеӯ—дёІ\",\n  \"date\": \"YYYY-MM-DDTHH:mm:ss+08:00пјҢз„Ўжі•еҲӨи®ҖеүҮз©әеӯ—дёІ\",\n  \"items\": [\n    {\n      \"row_no\": 1,\n      \"work_order_no\": \"и©ІеҲ—иЈҪд»Өе–®иҷҹпјӣиӢҘеҸӘжңүиЎЁй ӯиЈҪд»Өе–®иҷҹпјҢи«ӢеЎ«иЎЁй ӯеҖјпјӣз„Ўжі•еҲӨи®ҖеүҮз©әеӯ—дёІ\",\n      \"part_no\": \"йҰ–зўјеҝ…зӮәиӢұж–ҮпјҢз„Ўжі•зўәиӘҚеүҮз©әеӯ—дёІ\",\n      \"spec\": \"е®Ңж•ҙиҰҸж јжҸҸиҝ°пјҢз„Ўжі•еҲӨи®ҖеүҮз©әеӯ—дёІ\",\n      \"defective_qty\": 0,\n      \"request_qty\": 0,\n      \"received_qty\": 0,\n      \"note\": \"еӮҷиЁ»гҖҒз•°еёёеҺҹеӣ пјӣжІ’жңүе•ҸйЎҢеүҮеЎ« OK\"\n    }\n  ]\n}`;\n\nreturn [{\n  json: {\n    startedAt: new Date().toISOString(),\n    imageId: `${image.fileName || ''}|${image.fileSize || ''}`,\n    operator,\n    imageMeta: {\n      fileName: image.fileName || '',\n      mimeType: image.mimeType || 'image/jpeg',\n      fileSize: image.fileSize || ''\n    },\n    prompt\n  },\n  binary: { image }\n}];"
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000002",
      "name": "жә–еӮҷ Gemini и«ӢжұӮ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "={{ $json.prompt }}",
        "inputType": "binary",
        "binaryPropertyName": "image",
        "simplify": true,
        "options": {
          "maxOutputTokens": 8192
        }
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000003",
      "name": "Gemini OCR еҲҶжһҗ",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function getGeminiText(payload) {\n  for (const key of ['text', 'output', 'content', 'response', 'result', 'completion']) {\n    if (typeof payload[key] === 'string' && payload[key].trim()) return payload[key].trim();\n  }\n  if (typeof payload.message?.content === 'string') return payload.message.content.trim();\n  if (Array.isArray(payload.content?.parts)) {\n    const text = payload.content.parts.find((part) => typeof part.text === 'string')?.text;\n    if (text) return text.trim();\n  }\n  const text = payload.candidates?.[0]?.content?.parts?.find((part) => typeof part.text === 'string')?.text || '';\n  return text.trim();\n}\n\nfunction parseJsonText(rawText) {\n  if (!rawText) throw new Error('Gemini жңӘеӣһеӮіж–Үеӯ—е…§е®№');\n  try {\n    return JSON.parse(rawText);\n  } catch (error) {\n    const cleaned = rawText.replace(/^```json/i, '').replace(/^```/i, '').replace(/```$/i, '').trim();\n    try {\n      return JSON.parse(cleaned);\n    } catch (innerError) {\n      const match = rawText.match(/\\{[\\s\\S]*\\}/);\n      if (!match) throw new Error('Gemini еӣһеӮійқһ JSON');\n      return JSON.parse(match[0]);\n    }\n  }\n}\n\nconst requestMeta = $('жә–еӮҷ Gemini и«ӢжұӮ').first().json;\nconst ocr = parseJsonText(getGeminiText($json));\nconst items = Array.isArray(ocr.items) ? ocr.items : [];\nif (!items.length) throw new Error('OCR зөҗжһңжІ’жңү items жҳҺзҙ°');\n\nreturn [{\n  json: {\n    ocr,\n    operator: requestMeta.operator || {},\n    imageMeta: requestMeta.imageMeta || {},\n    startedAt: requestMeta.startedAt || '',\n    imageId: requestMeta.imageId || ''\n  }\n}];"
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-0000000000035",
      "name": "и§Јжһҗ OCR JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "33eb3ad1d1cd80fc9674e730c3c87469"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "none",
        "options": {}
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000004",
      "name": "и®ҖеҸ–е“Ғй …дё»жӘ”",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -20,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const ocrPayload = $('и§Јжһҗ OCR JSON').first().json;\nconst ocr = ocrPayload.ocr || {};\nconst operator = ocrPayload.operator || {};\nconst imageMeta = ocrPayload.imageMeta || {};\nconst masterItems = $input.all().map((item) => item.json);\nconst startedAt = ocrPayload.startedAt || new Date().toISOString();\nconst imageId = ocrPayload.imageId || '';\nconst batchId = `OCR-${startedAt.replace(/[-:.TZ]/g, '').slice(0, 14)}`;\n\nfunction num(value) {\n  const n = Number(String(value ?? '').replace(/,/g, '').trim());\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction normalize(value) {\n  return String(value || '')\n    .toUpperCase()\n    .replace(/\\s+/g, '')\n    .replace(/[пјҢ,гҖӮ.;пјӣ:пјҡ()пјҲпјү\\[\\]гҖҗгҖ‘\"'гҖҢгҖҚ]/g, '')\n    .trim();\n}\n\nfunction getValue(obj, keys) {\n  for (const key of keys) {\n    if (obj?.[key] !== undefined && obj?.[key] !== null) return obj[key];\n  }\n  return '';\n}\n\nfunction isValidPartNo(value) {\n  return /^[A-Za-z]/.test(String(value || '').trim());\n}\n\nfunction propVal(row, name) {\n  const p = row?.properties?.[name];\n  if (p) {\n    switch (p.type) {\n      case 'title': return (p.title || []).map((t) => t.plain_text).join('');\n      case 'rich_text': return (p.rich_text || []).map((t) => t.plain_text).join('');\n      case 'select': return p.select?.name || '';\n      case 'number': return p.number ?? '';\n      default: return '';\n    }\n  }\n  for (const k of [name, 'property_' + name]) {\n    if (row?.[k] !== undefined && row?.[k] !== null) return row[k];\n  }\n  return '';\n}\n\nconst masterMap = new Map();\nfor (const master of masterItems) {\n  const partNo = String(propVal(master, 'е“Ғиҷҹ') || master.name || '').trim();\n  const spec = String(propVal(master, 'иҰҸж ј')).trim();\n  if (partNo) masterMap.set(normalize(partNo), { partNo, spec });\n}\n\nlet items = Array.isArray(ocr.items) ? ocr.items : [];\nitems = items.filter((item) => {\n  const partNo = String(item.part_no || '').trim();\n  const spec = String(item.spec || '').trim();\n  return partNo || spec || item.note;\n});\n\nconst rows = items.map((item, index) => {\n  const partNo = String(item.part_no || '').trim();\n  const spec = String(item.spec || '').trim();\n  const workOrderNo = String(item.work_order_no || ocr.order_no || '').trim();\n  const master = masterMap.get(normalize(partNo));\n  const masterSpec = master?.spec || '';\n  const orderNoCheck = Boolean(workOrderNo && workOrderNo !== 'жңӘеҲӨи®Җ');\n  const partNoStartsOk = isValidPartNo(partNo);\n  const partNoCheck = Boolean(partNoStartsOk && master);\n  const specCheck = Boolean(master && normalize(masterSpec) && normalize(spec) && normalize(masterSpec) === normalize(spec));\n  const notes = [];\n  const errorTypes = [];\n  if (!orderNoCheck) { notes.push('иЈҪд»Өе–®иҷҹжңӘеҲӨи®Җ'); errorTypes.push('иЈҪд»Өе–®иҷҹжңӘеҲӨи®Җ'); }\n  if (!partNo) { notes.push('е“ҒиҷҹжңӘеҲӨи®Җ'); errorTypes.push('е“ҒиҷҹжңӘеҲӨи®Җ'); }\n  if (partNo && !partNoStartsOk) { notes.push('е“Ғиҷҹй–Ӣй ӯйқһиӢұж–Ү'); errorTypes.push('е“Ғиҷҹй–Ӣй ӯйқһиӢұж–Ү'); }\n  if (partNoStartsOk && !master) { notes.push('дё»жӘ”жҹҘз„Ўе“Ғиҷҹ'); errorTypes.push('дё»жӘ”жҹҘз„Ўе“Ғиҷҹ'); }\n  if (!spec) { notes.push('иҰҸж јжңӘеҲӨи®Җ'); errorTypes.push('иҰҸж јжңӘеҲӨи®Җ'); }\n  if (master && !specCheck) { notes.push(`иҰҸж јдёҚз¬Ұпјӣдё»жӘ”пјҡ${masterSpec || 'з©әеҖј'}`); errorTypes.push('иҰҸж јдёҚз¬Ұ'); }\n  if (item.note && String(item.note).trim() !== 'OK') {\n    notes.push(String(item.note));\n    if (/жЁЎзіҠ|з„Ўжі•еҲӨи®Җ|дёҚжё…|зңӢдёҚжё…/.test(String(item.note))) errorTypes.push('еӯ—и·ЎжЁЎзіҠ');\n  }\n  const status = orderNoCheck && partNoCheck && specCheck ? 'OK' : 'з•°еёё';\n  const ocrStatus = partNo && spec ? 'иҫЁиӯҳе®ҢжҲҗ' : 'иҫЁиӯҳдёҚе®Ңж•ҙ';\n\n  return {\n    rowNo: num(item.row_no) || index + 1,\n    status,\n    ocrStatus,\n    orderNo: ocr.order_no || '',\n    workOrderNo,\n    date: ocr.date || '',\n    partNo,\n    spec,\n    masterSpec,\n    defectiveQty: num(item.defective_qty),\n    requestQty: num(item.request_qty),\n    receivedQty: num(item.received_qty),\n    orderNoCheck,\n    partNoCheck,\n    specCheck,\n    errorTypes,\n    note: notes.join('пјӣ') || 'OK'\n  };\n});\n\nconst total = rows.length;\nconst abnormal = rows.filter((row) => row.status !== 'OK').length;\n\nconst completedAt = new Date().toISOString();\nconst processingSeconds = Math.max(0, Math.round((new Date(completedAt).getTime() - new Date(startedAt).getTime()) / 100) / 10);\n\nreturn [{\n  json: {\n    batchId,\n    imageId,\n    startedAt,\n    completedAt,\n    processingSeconds,\n    notifyStatus: 'еүҚз«ҜеӣһеӮі',\n    operator,\n    imageMeta,\n    order_no: ocr.order_no || rows[0]?.workOrderNo || '',\n    date: ocr.date || '',\n    total,\n    passed: total - abnormal,\n    abnormal,\n    rows\n  }\n}];"
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000005",
      "name": "жҜ”е°Қ OCR иҲҮе“Ғй …дё»жӘ”",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "374b3ad1d1cd80eeb5dff6b5991e1d29"
        },
        "title": "={{ $json.batchId }}",
        "simple": true,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "жү№ж¬ЎID|rich_text",
              "textContent": "={{ $json.batchId }}"
            },
            {
              "key": "ж“ҚдҪңдәә|rich_text",
              "textContent": "={{ $json.operator.name || $json.operator.displayName || '' }}"
            },
            {
              "key": "LINE userId|rich_text",
              "textContent": "={{ $json.operator.userId || '' }}"
            },
            {
              "key": "дҫҶжәҗ|select",
              "selectValue": "HTML"
            },
            {
              "key": "дёҠеӮіжҷӮй–“|date",
              "date": "={{ $json.startedAt }}",
              "includeTime": true,
              "range": false,
              "timezone": "default"
            },
            {
              "key": "е®ҢжҲҗжҷӮй–“|date",
              "date": "={{ $json.completedAt }}",
              "includeTime": true,
              "range": false,
              "timezone": "default"
            },
            {
              "key": "зӢҖж…Ӣ|select",
              "selectValue": "е·ІеҜ«е…Ҙ"
            },
            {
              "key": "иЈҪд»Өе–®иҷҹ|rich_text",
              "textContent": "={{ $json.order_no }}"
            },
            {
              "key": "зёҪзӯҶж•ё|number",
              "numberValue": "={{ $json.total }}"
            },
            {
              "key": "йҖҡйҒҺзӯҶж•ё|number",
              "numberValue": "={{ $json.passed }}"
            },
            {
              "key": "з•°еёёзӯҶж•ё|number",
              "numberValue": "={{ $json.abnormal }}"
            },
            {
              "key": "дәәе·Ҙдҝ®жӯЈзӯҶж•ё|number",
              "numberValue": 0
            },
            {
              "key": "ең–зүҮжӘ”еҗҚ|rich_text",
              "textContent": "={{ $json.imageMeta.fileName || '' }}"
            },
            {
              "key": "ең–зүҮиіҮиЁҠ|rich_text",
              "textContent": "={{ (($json.imageMeta.mimeType || '') + ' ' + ($json.imageMeta.fileSize || '')).trim() }}"
            },
            {
              "key": "иҷ•зҗҶз§’ж•ё|number",
              "numberValue": "={{ $json.processingSeconds }}"
            },
            {
              "key": "йҖҡзҹҘзӢҖж…Ӣ|select",
              "selectValue": "={{ $json.notifyStatus }}"
            },
            {
              "key": "ең–зүҮID|rich_text",
              "textContent": "={{ $json.imageId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000006",
      "name": "е»әз«ӢжҺғжҸҸжү№ж¬Ў",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        460,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const compare = $('жҜ”е°Қ OCR иҲҮе“Ғй …дё»жӘ”').first().json;\nconst batchPage = $input.first().json;\n\nreturn compare.rows.map((row) => ({\n  json: {\n    ...row,\n    batchId: compare.batchId,\n    batchUrl: batchPage.url || '',\n    operator: compare.operator || {},\n    summary: {\n      order_no: compare.order_no,\n      date: compare.date,\n      total: compare.total,\n      passed: compare.passed,\n      abnormal: compare.abnormal\n    }\n  }\n}));"
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000007",
      "name": "жә–еӮҷжҳҺзҙ°еҜ«е…ҘиіҮж–ҷ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "2f6b3ad1d1cd8068a597e0994b74654c"
        },
        "title": "={{ $json.workOrderNo || $json.orderNo || 'жңӘеҲӨи®Җ' }}",
        "simple": true,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "иЈҪд»Өе–®иҷҹcheck|checkbox",
              "checkboxValue": "={{ $json.orderNoCheck }}"
            },
            {
              "key": "ж—Ҙжңҹ|date",
              "date": "={{ $json.date || '' }}",
              "includeTime": true,
              "range": false,
              "timezone": "default"
            },
            {
              "key": "е“Ғиҷҹ|rich_text",
              "textContent": "={{ $json.partNo }}"
            },
            {
              "key": "е“Ғиҷҹcheck|checkbox",
              "checkboxValue": "={{ $json.partNoCheck }}"
            },
            {
              "key": "иҰҸж ј|rich_text",
              "textContent": "={{ $json.spec }}"
            },
            {
              "key": "иҰҸж јcheck|checkbox",
              "checkboxValue": "={{ $json.specCheck }}"
            },
            {
              "key": "дёҚиүҜж•ёйҮҸ|number",
              "numberValue": "={{ $json.defectiveQty }}"
            },
            {
              "key": "йңҖй ҳж•ёйҮҸ|number",
              "numberValue": "={{ $json.requestQty }}"
            },
            {
              "key": "еҜҰй ҳж•ёйҮҸ|number",
              "numberValue": "={{ $json.receivedQty }}"
            },
            {
              "key": "еӮҷиЁ»|rich_text",
              "textContent": "={{ $json.note }}"
            },
            {
              "key": "жү№ж¬ЎID|rich_text",
              "textContent": "={{ $json.batchId }}"
            },
            {
              "key": "ж“ҚдҪңдәә|rich_text",
              "textContent": "={{ $json.operator.name || $json.operator.displayName || '' }}"
            },
            {
              "key": "LINE userId|rich_text",
              "textContent": "={{ $json.operator.userId || '' }}"
            },
            {
              "key": "еҺҹе§Ӣе“Ғиҷҹ|rich_text",
              "textContent": "={{ $json.partNo }}"
            },
            {
              "key": "еҺҹе§ӢиҰҸж ј|rich_text",
              "textContent": "={{ $json.spec }}"
            },
            {
              "key": "жҳҜеҗҰдәәе·Ҙдҝ®жӯЈ|checkbox",
              "checkboxValue": false
            },
            {
              "key": "жҜ”е°Қзөҗжһң|select",
              "selectValue": "={{ $json.status }}"
            },
            {
              "key": "OCRзӢҖж…Ӣ|select",
              "selectValue": "={{ $json.ocrStatus }}"
            },
            {
              "key": "дё»жӘ”иҰҸж ј|rich_text",
              "textContent": "={{ $json.masterSpec }}"
            },
            {
              "key": "з•°еёёеҺҹеӣ |rich_text",
              "textContent": "={{ $json.note }}"
            },
            {
              "key": "Notionжү№ж¬ЎURL|url",
              "urlValue": "={{ $json.batchUrl }}",
              "ignoreIfEmpty": true
            },
            {
              "key": "йҢҜиӘӨйЎһеһӢ|multi_select",
              "multiSelectValue": "={{ $json.errorTypes || [] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000008",
      "name": "е»әз«Ӣ OCR жҳҺзҙ°",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        940,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const compare = $('жҜ”е°Қ OCR иҲҮе“Ғй …дё»жӘ”').first().json;\nconst details = $('жә–еӮҷжҳҺзҙ°еҜ«е…ҘиіҮж–ҷ').all().map((item) => item.json);\nconst createdPages = $input.all().map((item) => item.json);\n\nreturn [{\n  json: {\n    ok: true,\n    batchId: compare.batchId,\n    order_no: compare.order_no,\n    date: compare.date,\n    total: compare.total,\n    passed: compare.passed,\n    abnormal: compare.abnormal,\n    results: details.map((row, index) => ({\n      status: row.status,\n      partNo: row.partNo,\n      spec: row.spec,\n      defectiveQty: row.defectiveQty,\n      requestQty: row.requestQty,\n      receivedQty: row.receivedQty,\n      note: row.note,\n      notionUrl: createdPages[index]?.url || ''\n    }))\n  }\n}];"
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000009",
      "name": "ж•ҙзҗҶеӣһеӮізөҗжһң",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000010",
      "name": "еӣһеӮі HTML зөҗжһң",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1420,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "HTML OCR Webhook": {
      "main": [
        [
          {
            "node": "жә–еӮҷ Gemini и«ӢжұӮ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "жә–еӮҷ Gemini и«ӢжұӮ": {
      "main": [
        [
          {
            "node": "Gemini OCR еҲҶжһҗ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini OCR еҲҶжһҗ": {
      "main": [
        [
          {
            "node": "и§Јжһҗ OCR JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "и§Јжһҗ OCR JSON": {
      "main": [
        [
          {
            "node": "и®ҖеҸ–е“Ғй …дё»жӘ”",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "и®ҖеҸ–е“Ғй …дё»жӘ”": {
      "main": [
        [
          {
            "node": "жҜ”е°Қ OCR иҲҮе“Ғй …дё»жӘ”",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "жҜ”е°Қ OCR иҲҮе“Ғй …дё»жӘ”": {
      "main": [
        [
          {
            "node": "е»әз«ӢжҺғжҸҸжү№ж¬Ў",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "е»әз«ӢжҺғжҸҸжү№ж¬Ў": {
      "main": [
        [
          {
            "node": "жә–еӮҷжҳҺзҙ°еҜ«е…ҘиіҮж–ҷ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "жә–еӮҷжҳҺзҙ°еҜ«е…ҘиіҮж–ҷ": {
      "main": [
        [
          {
            "node": "е»әз«Ӣ OCR жҳҺзҙ°",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "е»әз«Ӣ OCR жҳҺзҙ°": {
      "main": [
        [
          {
            "node": "ж•ҙзҗҶеӣһеӮізөҗжһң",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ж•ҙзҗҶеӣһеӮізөҗжһң": {
      "main": [
        [
          {
            "node": "еӣһеӮі HTML зөҗжһң",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "notion-nodes-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "EasanHtmlOcrNotionNodes",
  "tags": []
}
