n8n_easan_master_import.json
{
  "name": "Easan 主檔匯入",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "easan-master-import",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "file",
          "allowedOrigins": "*"
        }
      },
      "id": "mi-0000000000000001",
      "name": "主檔匯入 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1100,
        0
      ],
      "webhookId": "easan-master-import"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item.json?.body || item.json || {};\nconst expectedPassword = 'gundam';\nconst password = String(body.password || '').trim();\nconst mode = String(body.mode || 'preview').trim() || 'preview';\nconst category = String(body.category || '未分類').trim() || '未分類';\nconst file = item.binary?.file || {};\nconst fileName = String(file.fileName || '').toLowerCase();\nconst mimeType = String(file.mimeType || '').toLowerCase();\nconst isCsv = fileName.endsWith('.csv') || mimeType.includes('csv') || mimeType.includes('text/plain');\n\nreturn [{\n  json: {\n    ok: password === expectedPassword,\n    password,\n    mode,\n    category,\n    fileName,\n    isCsv,\n    response: { ok: false, message: '管理密碼錯誤或沒有權限' }\n  },\n  binary: item.binary\n}];"
      },
      "id": "mi-0000000000000002",
      "name": "驗證密碼與參數",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mi-0000000000000003-c",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mi-0000000000000003",
      "name": "密碼正確",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -660,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.response) }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "mi-0000000000000004",
      "name": "回傳無權限",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -440,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mi-0000000000000005-c",
              "leftValue": "={{ $json.isCsv }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mi-0000000000000005",
      "name": "是否為CSV",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -440,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "csv",
        "binaryPropertyName": "file",
        "options": {}
      },
      "id": "mi-0000000000000006",
      "name": "讀取CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -220,
        -140
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file",
        "options": {}
      },
      "id": "mi-0000000000000007",
      "name": "讀取Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -220,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const meta = $('驗證密碼與參數').first().json;\nconst rows = $input.all().map((i) => i.json || {});\n\nfunction clean(value) {\n  return String(value ?? '').trim();\n}\nfunction pick(row, keys) {\n  for (const k of keys) {\n    if (row[k] !== undefined && row[k] !== null && String(row[k]).trim() !== '') return row[k];\n  }\n  return '';\n}\n\nconst seen = new Set();\nconst valid = [];\nconst invalid = [];\nfor (const row of rows) {\n  const partNo = clean(pick(row, ['品號', '品号', 'part_no', 'partNo', 'PartNo']));\n  if (!partNo) { invalid.push({ partNo: '', message: '缺少品號' }); continue; }\n  if (seen.has(partNo)) { invalid.push({ partNo, message: '檔案內重複品號' }); continue; }\n  seen.add(partNo);\n  valid.push({\n    partNo,\n    '品名': clean(pick(row, ['品名', 'name'])),\n    '規格': clean(pick(row, ['規格', 'spec'])),\n    '類別名稱': clean(pick(row, ['類別名稱', '類別', 'category_name'])),\n    '單位': clean(pick(row, ['單位', 'unit'])),\n    '分類': clean(pick(row, ['分類', 'category'])) || meta.category || '未分類'\n  });\n}\n\nreturn [{\n  json: {\n    mode: meta.mode,\n    category: meta.category,\n    rows: valid,\n    invalid,\n    total: rows.length,\n    valid: valid.length\n  }\n}];"
      },
      "id": "mi-0000000000000008",
      "name": "整理與驗證列",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "33eb3ad1d1cd80fc9674e730c3c87469"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "none",
        "options": {}
      },
      "id": "mi-0000000000000009",
      "name": "讀取現有主檔",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('整理與驗證列').first().json;\nconst masterItems = $input.all().map((i) => i.json || {});\nconst importBatchId = `IMP-${new Date().toISOString().replace(/[-:.TZ]/g, '').slice(0, 14)}`;\n\nfunction propVal(row, name) {\n  const p = row?.properties?.[name];\n  if (p) {\n    switch (p.type) {\n      case 'title': return (p.title || []).map((t) => t.plain_text).join('');\n      case 'rich_text': return (p.rich_text || []).map((t) => t.plain_text).join('');\n      case 'select': return p.select?.name || '';\n      default: return '';\n    }\n  }\n  for (const k of [name, 'property_' + name]) {\n    if (row?.[k] !== undefined && row?.[k] !== null) return row[k];\n  }\n  return '';\n}\n\nconst map = new Map();\nfor (const m of masterItems) {\n  const partNo = String(propVal(m, '品號') || m.name || '').trim();\n  const pageId = m.id || m.pageId || '';\n  if (partNo && pageId) map.set(partNo, pageId);\n}\n\nconst out = [];\nfor (const row of payload.rows) {\n  const pageId = map.get(row.partNo) || '';\n  out.push({ json: { action: pageId ? 'update' : 'create', pageId, mode: payload.mode, importBatchId, ...row } });\n}\nfor (const bad of payload.invalid) {\n  out.push({ json: { action: 'invalid', mode: payload.mode, partNo: bad.partNo, message: bad.message } });\n}\nif (!out.length) out.push({ json: { action: 'none', mode: payload.mode } });\nreturn out;"
      },
      "id": "mi-0000000000000010",
      "name": "分類動作",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mi-0000000000000011-c",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "import",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mi-0000000000000011",
      "name": "是否正式匯入",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mi-0000000000000012-c",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mi-0000000000000012",
      "name": "是新增",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mi-0000000000000013-c",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mi-0000000000000013",
      "name": "是更新",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        20
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "33eb3ad1d1cd80fc9674e730c3c87469"
        },
        "title": "={{ $json.partNo }}",
        "simple": true,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "品名|rich_text",
              "textContent": "={{ $json[\"品名\"] }}"
            },
            {
              "key": "規格|rich_text",
              "textContent": "={{ $json[\"規格\"] }}"
            },
            {
              "key": "類別名稱|rich_text",
              "textContent": "={{ $json[\"類別名稱\"] }}"
            },
            {
              "key": "單位|rich_text",
              "textContent": "={{ $json[\"單位\"] }}"
            },
            {
              "key": "分類|select",
              "selectValue": "={{ $json[\"分類\"] }}"
            },
            {
              "key": "狀態|select",
              "selectValue": "啟用"
            },
            {
              "key": "匯入批次ID|rich_text",
              "textContent": "={{ $json.importBatchId }}"
            },
            {
              "key": "最後匯入時間|date",
              "date": "={{ $now.toISO() }}",
              "includeTime": true,
              "range": false,
              "timezone": "default"
            }
          ]
        },
        "options": {}
      },
      "id": "mi-0000000000000014",
      "name": "新增主檔",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1320,
        -120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.pageId }}"
        },
        "simple": true,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "品名|rich_text",
              "textContent": "={{ $json[\"品名\"] }}"
            },
            {
              "key": "規格|rich_text",
              "textContent": "={{ $json[\"規格\"] }}"
            },
            {
              "key": "類別名稱|rich_text",
              "textContent": "={{ $json[\"類別名稱\"] }}"
            },
            {
              "key": "單位|rich_text",
              "textContent": "={{ $json[\"單位\"] }}"
            },
            {
              "key": "分類|select",
              "selectValue": "={{ $json[\"分類\"] }}"
            },
            {
              "key": "狀態|select",
              "selectValue": "啟用"
            },
            {
              "key": "匯入批次ID|rich_text",
              "textContent": "={{ $json.importBatchId }}"
            },
            {
              "key": "最後匯入時間|date",
              "date": "={{ $now.toISO() }}",
              "includeTime": true,
              "range": false,
              "timezone": "default"
            }
          ]
        },
        "options": {}
      },
      "id": "mi-0000000000000015",
      "name": "更新主檔",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1320,
        80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const payload = $('整理與驗證列').first().json;\nconst classified = $('分類動作').all().map((i) => i.json || {});\nconst mode = payload.mode;\n\nfunction safeAll(name) {\n  try { return $(name).all().map((i) => i.json || {}); } catch (e) { return []; }\n}\n\nconst invalidRows = classified.filter((c) => c.action === 'invalid');\nconst createRows = classified.filter((c) => c.action === 'create');\nconst updateRows = classified.filter((c) => c.action === 'update');\n\nlet created = 0;\nlet updated = 0;\nlet failed = 0;\nconst skipped = invalidRows.length;\n\nconst rows = [];\nfor (const c of invalidRows) {\n  rows.push({ partNo: c.partNo, category: '', action: '-', status: '略過', message: c.message || '' });\n}\n\nif (mode !== 'import') {\n  for (const c of createRows) rows.push({ partNo: c.partNo, category: c['分類'], action: '將新增', status: '預覽', message: '' });\n  for (const c of updateRows) rows.push({ partNo: c.partNo, category: c['分類'], action: '將更新', status: '預覽', message: '' });\n  return [{ json: { ok: true, mode: 'preview', summary: { total: payload.total, valid: payload.valid, created: 0, updated: 0, skipped, failed: 0 }, rows } }];\n}\n\nconst createdItems = safeAll('新增主檔');\nconst updatedItems = safeAll('更新主檔');\nfor (const it of createdItems) {\n  if (it.error) failed += 1; else created += 1;\n}\nfor (const it of updatedItems) {\n  if (it.error) failed += 1; else updated += 1;\n}\nfor (const c of createRows) rows.push({ partNo: c.partNo, category: c['分類'], action: '新增', status: 'OK', message: '' });\nfor (const c of updateRows) rows.push({ partNo: c.partNo, category: c['分類'], action: '更新', status: 'OK', message: '' });\n\nreturn [{ json: { ok: true, mode: 'import', summary: { total: payload.total, valid: payload.valid, created, updated, skipped, failed }, rows } }];"
      },
      "id": "mi-0000000000000016",
      "name": "彙整匯入結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "mi-0000000000000017",
      "name": "回傳匯入結果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1780,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "主檔匯入 Webhook": {
      "main": [
        [
          {
            "node": "驗證密碼與參數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "驗證密碼與參數": {
      "main": [
        [
          {
            "node": "密碼正確",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "密碼正確": {
      "main": [
        [
          {
            "node": "是否為CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "回傳無權限",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否為CSV": {
      "main": [
        [
          {
            "node": "讀取CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "讀取Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取CSV": {
      "main": [
        [
          {
            "node": "整理與驗證列",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取Excel": {
      "main": [
        [
          {
            "node": "整理與驗證列",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理與驗證列": {
      "main": [
        [
          {
            "node": "讀取現有主檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取現有主檔": {
      "main": [
        [
          {
            "node": "分類動作",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分類動作": {
      "main": [
        [
          {
            "node": "是否正式匯入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否正式匯入": {
      "main": [
        [
          {
            "node": "是新增",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "彙整匯入結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是新增": {
      "main": [
        [
          {
            "node": "新增主檔",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "是更新",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是更新": {
      "main": [
        [
          {
            "node": "更新主檔",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "彙整匯入結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新增主檔": {
      "main": [
        [
          {
            "node": "彙整匯入結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新主檔": {
      "main": [
        [
          {
            "node": "彙整匯入結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "彙整匯入結果": {
      "main": [
        [
          {
            "node": "回傳匯入結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "master-import-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "EasanMasterImport",
  "tags": []
}
