n8n_easan_admin_permissions.json
{
  "name": "Easan 管理後台人員權限",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "easan-admin-permissions",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000001",
      "name": "人員權限管理 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -900,
        0
      ],
      "webhookId": "easan-admin-permissions"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\nconst body = item.body || item;\nconst expectedPassword = 'gundam';\nconst password = String(body.password || '').trim();\nconst action = String(body.action || 'list').trim();\nconst pageId = String(body.pageId || '').trim();\nconst status = ['待審核', '已開通', '停用'].includes(body.status) ? body.status : '待審核';\n\nlet features = [];\nif (Array.isArray(body.features)) features = body.features.map((f) => String(f).trim()).filter(Boolean);\nelse if (body.ocrEnabled === true || body.ocrEnabled === 'true') features = ['OCR補料單'];\nconst validFeatures = ['OCR補料單', '報表查看', '權限管理'];\nfeatures = features.filter((f) => validFeatures.includes(f));\n\nconst role = ['操作員', '管理員'].includes(body.role) ? body.role : '';\nconst approver = String(body.approver || '').trim();\nconst nickname = String(body.nickname || '').trim();\nconst nowIso = new Date().toISOString();\nconst approvedAtIso = status === '已開通' ? nowIso : '';\nconst approverName = status === '已開通' ? (approver || '管理員') : '';\n\nreturn [{\n  json: {\n    ok: Boolean(password && password === expectedPassword),\n    action,\n    pageId,\n    status,\n    features,\n    role,\n    approver: approverName,\n    nickname,\n    approvedAtIso,\n    nowIso,\n    response: { ok: false, message: '管理密碼錯誤或沒有權限' }\n  }\n}];"
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000002",
      "name": "驗證管理請求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d3a8c2b8-8f82-4a0d-8f68-000000000003c",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000003",
      "name": "密碼正確",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.response) }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000004",
      "name": "回傳無權限",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -180,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d3a8c2b8-8f82-4a0d-8f68-000000000005c",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000005",
      "name": "是否更新權限",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -180,
        -40
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.pageId }}",
        "simple": true,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "狀態|select",
              "selectValue": "={{ $json.status }}"
            },
            {
              "key": "暱稱|rich_text",
              "textContent": "={{ $json.nickname }}"
            },
            {
              "key": "可使用功能|multi_select",
              "multiSelectValue": "={{ $json.features }}"
            },
            {
              "key": "角色|select",
              "selectValue": "={{ $json.role }}",
              "ignoreIfEmpty": true
            },
            {
              "key": "開通時間|date",
              "date": "={{ $json.approvedAtIso }}",
              "includeTime": true,
              "range": false,
              "timezone": "default",
              "ignoreIfEmpty": true
            },
            {
              "key": "開通人員|rich_text",
              "textContent": "={{ $json.approver }}",
              "ignoreIfEmpty": true
            },
            {
              "key": "最後使用時間|date",
              "date": "={{ $json.nowIso }}",
              "includeTime": true,
              "range": false,
              "timezone": "default"
            }
          ]
        },
        "options": {}
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000006",
      "name": "更新人員權限",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        80,
        -160
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "374b3ad1d1cd80c6a923fd022abc0305"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "none",
        "options": {}
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000007",
      "name": "讀取人員權限清單",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        340,
        -40
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "function propVal(row, name) {\n  const p = row?.properties?.[name];\n  if (p) {\n    switch (p.type) {\n      case 'title': return (p.title || []).map((t) => t.plain_text).join('');\n      case 'rich_text': return (p.rich_text || []).map((t) => t.plain_text).join('');\n      case 'select': return p.select?.name || '';\n      case 'multi_select': return (p.multi_select || []).map((o) => o.name);\n      case 'date': return p.date?.start || '';\n      default: return '';\n    }\n  }\n  for (const k of [name, 'property_' + name]) {\n    if (row?.[k] !== undefined && row?.[k] !== null) return row[k];\n  }\n  return '';\n}\nfunction toList(value) {\n  if (Array.isArray(value)) return value.map((x) => String(x?.name || x).trim()).filter(Boolean);\n  const t = String(value ?? '').trim();\n  if (!t) return [];\n  try { const p = JSON.parse(t); if (Array.isArray(p)) return p.map((x) => String(x?.name || x).trim()).filter(Boolean); } catch (e) {}\n  return t.split(/[,，、]/).map((s) => s.trim()).filter(Boolean);\n}\n\nconst operators = $input.all().map((item) => {\n  const row = item.json || {};\n  return {\n    pageId: row.id || row.pageId || '',\n    name: propVal(row, '名稱'),\n    nickname: propVal(row, '暱稱'),\n    userId: propVal(row, 'LINE userId'),\n    displayName: propVal(row, 'LINE顯示名稱'),\n    status: propVal(row, '狀態') || '待審核',\n    role: propVal(row, '角色'),\n    features: toList(propVal(row, '可使用功能')),\n    note: propVal(row, '備註'),\n    firstSeen: propVal(row, '首次進入時間'),\n    approvedAt: propVal(row, '開通時間'),\n    approvedBy: propVal(row, '開通人員'),\n    lastUsed: propVal(row, '最後使用時間')\n  };\n}).filter((op) => op.pageId || op.userId || op.name);\n\nconst order = { '待審核': 0, '已開通': 1, '停用': 2 };\noperators.sort((a, b) => {\n  const d = (order[a.status] ?? 9) - (order[b.status] ?? 9);\n  if (d) return d;\n  return String(a.name || '').localeCompare(String(b.name || ''), 'zh-Hant');\n});\n\nconst response = { ok: true, operators };\nreturn [{ json: { ...response, response } }];"
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000008",
      "name": "整理人員權限清單",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -40
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.response || $json) }}",
        "options": {}
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000009",
      "name": "回傳人員權限清單",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        -40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d3a8c2b8-8f82-4a0d-8f68-000000000010-c",
              "leftValue": "={{ $json.action }}",
              "rightValue": "auth",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000010",
      "name": "Auth only?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -180,
        -120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {}
      },
      "id": "d3a8c2b8-8f82-4a0d-8f68-000000000011",
      "name": "Return auth ok",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        80,
        -280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "人員權限管理 Webhook": {
      "main": [
        [
          {
            "node": "驗證管理請求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "驗證管理請求": {
      "main": [
        [
          {
            "node": "密碼正確",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "密碼正確": {
      "main": [
        [
          {
            "node": "Auth only?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "回傳無權限",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否更新權限": {
      "main": [
        [
          {
            "node": "更新人員權限",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "讀取人員權限清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新人員權限": {
      "main": [
        [
          {
            "node": "讀取人員權限清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取人員權限清單": {
      "main": [
        [
          {
            "node": "整理人員權限清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理人員權限清單": {
      "main": [
        [
          {
            "node": "回傳人員權限清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth only?": {
      "main": [
        [
          {
            "node": "Return auth ok",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "是否更新權限",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "admin-permissions-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "EasanAdminPermissions",
  "tags": []
}
