n8n_easan_admin_stats.json
{
  "name": "Easan 管理後台成效統計",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "easan-admin-stats",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000001",
      "name": "成效統計 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -900,
        0
      ],
      "webhookId": "easan-admin-stats"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\nconst body = item.body || item;\nconst expectedPassword = 'gundam';\nconst password = String(body.password || '').trim();\nconst range = String(body.range || '30').trim();\n\nreturn [{\n  json: {\n    ok: password && password === expectedPassword,\n    range,\n    response: {\n      ok: false,\n      message: '管理密碼錯誤或沒有權限'\n    }\n  }\n}];"
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000002",
      "name": "驗證管理密碼",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e4b9d3c9-9f93-4b1e-9a79-000000000003c",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000003",
      "name": "密碼正確",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.response) }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000004",
      "name": "回傳無權限",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -180,
        180
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "374b3ad1d1cd80eeb5dff6b5991e1d29"
        },
        "returnAll": true,
        "simple": true,
        "filterType": "none",
        "options": {}
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000005",
      "name": "讀取掃描批次",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -180,
        -80
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "2f6b3ad1d1cd8068a597e0994b74654c"
        },
        "returnAll": true,
        "simple": true,
        "filterType": "none",
        "options": {}
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000006",
      "name": "讀取 OCR 明細",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        80,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const auth = $('驗證管理密碼').first().json || {};\nconst range = auth.range || '30';\nconst batches = $('讀取掃描批次').all().map((item) => item.json || {});\nconst details = $input.all().map((item) => item.json || {});\n\nfunction getValue(obj, keys) {\n  for (const key of keys) {\n    if (obj?.[key] !== undefined && obj?.[key] !== null) return obj[key];\n  }\n  return '';\n}\n\nfunction num(value) {\n  const n = Number(String(value ?? '').replace(/,/g, '').trim());\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction parseTime(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return null;\n  const time = new Date(raw);\n  return Number.isNaN(time.getTime()) ? null : time;\n}\n\nfunction inRange(row) {\n  if (range === 'all') return true;\n  const days = Number(range || 30);\n  if (!Number.isFinite(days)) return true;\n  const time = parseTime(getValue(row, [\n    '上傳時間', 'property_上傳時間', 'createdTime',\n    'date:上傳時間:start', '日期', 'property_日期', 'date:日期:start'\n  ]));\n  if (!time) return true;\n  const cutoff = new Date(Date.now() - days * 24 * 60 * 60 * 1000);\n  return time >= cutoff;\n}\n\nfunction sameDay(date) {\n  if (!date) return false;\n  const now = new Date();\n  return date.getFullYear() === now.getFullYear() && date.getMonth() === now.getMonth() && date.getDate() === now.getDate();\n}\n\nconst scopedDetails = details.filter(inRange);\nconst scopedBatches = batches.filter(inRange);\nconst passedDetails = scopedDetails.filter((row) => getValue(row, ['比對結果', 'property_比對結果']) === 'OK');\nconst abnormalDetails = scopedDetails.filter((row) => getValue(row, ['比對結果', 'property_比對結果']) === '異常');\n\nconst operatorMap = new Map();\nfor (const row of scopedDetails) {\n  const userId = String(getValue(row, ['LINE userId', 'property_LINE userId'])).trim();\n  const name = String(getValue(row, ['操作人', 'property_操作人']) || userId || '未命名').trim();\n  const key = userId || name;\n  if (!operatorMap.has(key)) operatorMap.set(key, { name, userId, total: 0, passed: 0, abnormal: 0 });\n  const item = operatorMap.get(key);\n  item.total += 1;\n  const status = getValue(row, ['比對結果', 'property_比對結果']);\n  if (status === 'OK') item.passed += 1;\n  if (status === '異常') item.abnormal += 1;\n}\n\nconst operators = [...operatorMap.values()].map((operator) => ({\n  ...operator,\n  accuracy: operator.total ? operator.passed / operator.total : 0\n})).sort((a, b) => b.total - a.total);\n\nconst recent = scopedBatches.map((batch) => {\n  const total = num(getValue(batch, ['總筆數', 'property_總筆數']));\n  const passed = num(getValue(batch, ['通過筆數', 'property_通過筆數']));\n  const abnormal = num(getValue(batch, ['異常筆數', 'property_異常筆數']));\n  return {\n    time: getValue(batch, ['上傳時間', 'property_上傳時間', 'createdTime', 'date:上傳時間:start']),\n    batchId: getValue(batch, ['批次ID', 'property_批次ID', '名稱', 'property_名稱']),\n    operator: getValue(batch, ['操作人', 'property_操作人']),\n    orderNo: getValue(batch, ['製令單號', 'property_製令單號']),\n    total,\n    passed,\n    abnormal,\n    accuracy: total ? passed / total : 0\n  };\n}).sort((a, b) => String(b.time).localeCompare(String(a.time))).slice(0, 20);\n\nconst totalItems = scopedDetails.length;\nconst passedItems = passedDetails.length;\nconst abnormalItems = abnormalDetails.length;\nconst todayBatches = scopedBatches.filter((batch) => sameDay(parseTime(getValue(batch, ['上傳時間', 'property_上傳時間', 'createdTime', 'date:上傳時間:start'])))).length;\n\nreturn [{\n  json: {\n    ok: true,\n    summary: {\n      accuracy_rate: totalItems ? passedItems / totalItems : 0,\n      total_items: totalItems,\n      passed_items: passedItems,\n      abnormal_items: abnormalItems,\n      total_batches: scopedBatches.length,\n      today_batches: todayBatches\n    },\n    operators,\n    recent\n  }\n}];"
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000007",
      "name": "整理成效統計",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "e4b9d3c9-9f93-4b1e-9a79-000000000008",
      "name": "回傳成效統計",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        -80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "成效統計 Webhook": {
      "main": [
        [
          {
            "node": "驗證管理密碼",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "驗證管理密碼": {
      "main": [
        [
          {
            "node": "密碼正確",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "密碼正確": {
      "main": [
        [
          {
            "node": "讀取掃描批次",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "回傳無權限",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取掃描批次": {
      "main": [
        [
          {
            "node": "讀取 OCR 明細",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取 OCR 明細": {
      "main": [
        [
          {
            "node": "整理成效統計",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理成效統計": {
      "main": [
        [
          {
            "node": "回傳成效統計",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "admin-stats-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "EasanAdminStats",
  "tags": []
}
