n8n_easan_html_ocr_notion_nodes.json
{
  "name": "Easan HTML OCR Notion 節點版",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "easan-html-ocr",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "image",
          "allowedOrigins": "*"
        }
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000001",
      "name": "HTML OCR Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        0
      ],
      "webhookId": "easan-html-ocr"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binaryKeys = Object.keys(item.binary || {});\nconst imageKey = binaryKeys.includes('image') ? 'image' : binaryKeys[0];\nconst image = imageKey ? item.binary[imageKey] : null;\nif (!image?.data) {\n  throw new Error('未收到圖片檔案。HTML FormData 欄位請命名為 image。');\n}\n\nconst body = item.json || {};\nconst operatorRaw = body.operator || body.operatorJson || '{}';\nlet operator = {};\ntry {\n  operator = typeof operatorRaw === 'string' ? JSON.parse(operatorRaw) : operatorRaw;\n} catch (error) {\n  operator = {};\n}\n\nconst prompt = `你是製造業「現場補料單」OCR 與資料結構化助手。請辨識圖片中的單據資料，嚴格以 JSON 格式輸出，不要輸出 markdown 標記（如 \\`\\`\\`json），也不要加上任何解釋文字。\n\n【一、資料擷取核心邏輯】\n1. 全局預判：請先掃描圖片中的表格，確認共有幾列明細，並將數字填入 total_detected_rows。\n2. 換列判定：只要有獨立的「品號」、「規格」或「數量」出現，即視為獨立的一筆明細，必須與上下列分開。\n3. 絕對完整性：看見幾列就必須輸出幾個 items。若某列字跡模糊或資料缺失，仍須保留該列，將無法辨識的欄位填入空字串或 0，並於 note 註明「字跡模糊無法判讀」。不可擅自忽略或整併正常資料。\n4. 空白列排除：表格下方只有 #N/A 或完全空白且沒有品號、規格、數量的列，不算明細，不要輸出。\n\n【二、欄位業務規則】\n1. 共通資訊：表頭的「日期」請統一套用至所有 items。若每列製令單號相同，order_no 填主要製令單號；每列仍需在 work_order_no 填入該列製令單號。\n2. 日期：若圖片為民國年，例如 115/2/13，請轉成西元 2026-02-13T00:00:00+08:00。無法判讀則輸出空字串。\n3. 品號 part_no：\n   - 第一個字元必須是英文大寫 A-Z。\n   - 優先進行 OCR 誤讀校正：首碼若為 0 修正為 O；1 修正為 I；5 修正為 S；8 修正為 B。\n   - 若校正後仍無法確認首碼為英文，請輸出空字串，並在 note 寫明「品號開頭非英文或無法確認」。\n4. 規格 spec：包含尺寸、材質、百分比、中文描述或特殊符號，請完整保留原始文字，勿翻譯、勿截斷、勿合併相鄰列。\n5. 數量欄位：只輸出數字；無法判讀時輸出 0。手寫數字若位於「實領數量」欄，請判斷為 received_qty；不要把勾勾、分數註記或括號當作規格。\n6. 備註欄：請保留該列備註；沒有問題則填 OK。\n\n【三、輸出 JSON 結構】\n請嚴格遵守以下格式，確保可被 JSON.parse() 解析：\n{\n  \"total_detected_rows\": 0,\n  \"order_no\": \"製令單號或單據號碼，無法判讀則空字串\",\n  \"date\": \"YYYY-MM-DDTHH:mm:ss+08:00，無法判讀則空字串\",\n  \"items\": [\n    {\n      \"row_no\": 1,\n      \"work_order_no\": \"該列製令單號；若只有表頭製令單號，請填表頭值；無法判讀則空字串\",\n      \"part_no\": \"首碼必為英文，無法確認則空字串\",\n      \"spec\": \"完整規格描述，無法判讀則空字串\",\n      \"defective_qty\": 0,\n      \"request_qty\": 0,\n      \"received_qty\": 0,\n      \"note\": \"備註、異常原因；沒有問題則填 OK\"\n    }\n  ]\n}`;\n\nreturn [{\n  json: {\n    startedAt: new Date().toISOString(),\n    imageId: `${image.fileName || ''}|${image.fileSize || ''}`,\n    operator,\n    imageMeta: {\n      fileName: image.fileName || '',\n      mimeType: image.mimeType || 'image/jpeg',\n      fileSize: image.fileSize || ''\n    },\n    prompt\n  },\n  binary: { image }\n}];"
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000002",
      "name": "準備 Gemini 請求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "={{ $json.prompt }}",
        "inputType": "binary",
        "binaryPropertyName": "image",
        "simplify": true,
        "options": {
          "maxOutputTokens": 8192
        }
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000003",
      "name": "Gemini OCR 分析",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function getGeminiText(payload) {\n  for (const key of ['text', 'output', 'content', 'response', 'result', 'completion']) {\n    if (typeof payload[key] === 'string' && payload[key].trim()) return payload[key].trim();\n  }\n  if (typeof payload.message?.content === 'string') return payload.message.content.trim();\n  if (Array.isArray(payload.content?.parts)) {\n    const text = payload.content.parts.find((part) => typeof part.text === 'string')?.text;\n    if (text) return text.trim();\n  }\n  const text = payload.candidates?.[0]?.content?.parts?.find((part) => typeof part.text === 'string')?.text || '';\n  return text.trim();\n}\n\nfunction parseJsonText(rawText) {\n  if (!rawText) throw new Error('Gemini 未回傳文字內容');\n  try {\n    return JSON.parse(rawText);\n  } catch (error) {\n    const cleaned = rawText.replace(/^```json/i, '').replace(/^```/i, '').replace(/```$/i, '').trim();\n    try {\n      return JSON.parse(cleaned);\n    } catch (innerError) {\n      const match = rawText.match(/\\{[\\s\\S]*\\}/);\n      if (!match) throw new Error('Gemini 回傳非 JSON');\n      return JSON.parse(match[0]);\n    }\n  }\n}\n\nconst requestMeta = $('準備 Gemini 請求').first().json;\nconst ocr = parseJsonText(getGeminiText($json));\nconst items = Array.isArray(ocr.items) ? ocr.items : [];\nif (!items.length) throw new Error('OCR 結果沒有 items 明細');\n\nreturn [{\n  json: {\n    ocr,\n    operator: requestMeta.operator || {},\n    imageMeta: requestMeta.imageMeta || {},\n    startedAt: requestMeta.startedAt || '',\n    imageId: requestMeta.imageId || ''\n  }\n}];"
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-0000000000035",
      "name": "解析 OCR JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "33eb3ad1d1cd80fc9674e730c3c87469"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "none",
        "options": {}
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000004",
      "name": "讀取品項主檔",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -20,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const ocrPayload = $('解析 OCR JSON').first().json;\nconst ocr = ocrPayload.ocr || {};\nconst operator = ocrPayload.operator || {};\nconst imageMeta = ocrPayload.imageMeta || {};\nconst masterItems = $input.all().map((item) => item.json);\nconst startedAt = ocrPayload.startedAt || new Date().toISOString();\nconst imageId = ocrPayload.imageId || '';\nconst batchId = `OCR-${startedAt.replace(/[-:.TZ]/g, '').slice(0, 14)}`;\n\nfunction num(value) {\n  const n = Number(String(value ?? '').replace(/,/g, '').trim());\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction normalize(value) {\n  return String(value || '')\n    .toUpperCase()\n    .replace(/\\s+/g, '')\n    .replace(/[，,。.;；:：()（）\\[\\]【】\"'「」]/g, '')\n    .trim();\n}\n\nfunction getValue(obj, keys) {\n  for (const key of keys) {\n    if (obj?.[key] !== undefined && obj?.[key] !== null) return obj[key];\n  }\n  return '';\n}\n\nfunction isValidPartNo(value) {\n  return /^[A-Za-z]/.test(String(value || '').trim());\n}\n\nfunction propVal(row, name) {\n  const p = row?.properties?.[name];\n  if (p) {\n    switch (p.type) {\n      case 'title': return (p.title || []).map((t) => t.plain_text).join('');\n      case 'rich_text': return (p.rich_text || []).map((t) => t.plain_text).join('');\n      case 'select': return p.select?.name || '';\n      case 'number': return p.number ?? '';\n      default: return '';\n    }\n  }\n  for (const k of [name, 'property_' + name]) {\n    if (row?.[k] !== undefined && row?.[k] !== null) return row[k];\n  }\n  return '';\n}\n\nconst masterMap = new Map();\nfor (const master of masterItems) {\n  const partNo = String(propVal(master, '品號') || master.name || '').trim();\n  const spec = String(propVal(master, '規格')).trim();\n  if (partNo) masterMap.set(normalize(partNo), { partNo, spec });\n}\n\nlet items = Array.isArray(ocr.items) ? ocr.items : [];\nitems = items.filter((item) => {\n  const partNo = String(item.part_no || '').trim();\n  const spec = String(item.spec || '').trim();\n  return partNo || spec || item.note;\n});\n\nconst rows = items.map((item, index) => {\n  const partNo = String(item.part_no || '').trim();\n  const spec = String(item.spec || '').trim();\n  const workOrderNo = String(item.work_order_no || ocr.order_no || '').trim();\n  const master = masterMap.get(normalize(partNo));\n  const masterSpec = master?.spec || '';\n  const orderNoCheck = Boolean(workOrderNo && workOrderNo !== '未判讀');\n  const partNoStartsOk = isValidPartNo(partNo);\n  const partNoCheck = Boolean(partNoStartsOk && master);\n  const specCheck = Boolean(master && normalize(masterSpec) && normalize(spec) && normalize(masterSpec) === normalize(spec));\n  const notes = [];\n  const errorTypes = [];\n  if (!orderNoCheck) { notes.push('製令單號未判讀'); errorTypes.push('製令單號未判讀'); }\n  if (!partNo) { notes.push('品號未判讀'); errorTypes.push('品號未判讀'); }\n  if (partNo && !partNoStartsOk) { notes.push('品號開頭非英文'); errorTypes.push('品號開頭非英文'); }\n  if (partNoStartsOk && !master) { notes.push('主檔查無品號'); errorTypes.push('主檔查無品號'); }\n  if (!spec) { notes.push('規格未判讀'); errorTypes.push('規格未判讀'); }\n  if (master && !specCheck) { notes.push(`規格不符；主檔：${masterSpec || '空值'}`); errorTypes.push('規格不符'); }\n  if (item.note && String(item.note).trim() !== 'OK') {\n    notes.push(String(item.note));\n    if (/模糊|無法判讀|不清|看不清/.test(String(item.note))) errorTypes.push('字跡模糊');\n  }\n  const status = orderNoCheck && partNoCheck && specCheck ? 'OK' : '異常';\n  const ocrStatus = partNo && spec ? '辨識完成' : '辨識不完整';\n\n  return {\n    rowNo: num(item.row_no) || index + 1,\n    status,\n    ocrStatus,\n    orderNo: ocr.order_no || '',\n    workOrderNo,\n    date: ocr.date || '',\n    partNo,\n    spec,\n    masterSpec,\n    defectiveQty: num(item.defective_qty),\n    requestQty: num(item.request_qty),\n    receivedQty: num(item.received_qty),\n    orderNoCheck,\n    partNoCheck,\n    specCheck,\n    errorTypes,\n    note: notes.join('；') || 'OK'\n  };\n});\n\nconst total = rows.length;\nconst abnormal = rows.filter((row) => row.status !== 'OK').length;\n\nconst completedAt = new Date().toISOString();\nconst processingSeconds = Math.max(0, Math.round((new Date(completedAt).getTime() - new Date(startedAt).getTime()) / 100) / 10);\n\nreturn [{\n  json: {\n    batchId,\n    imageId,\n    startedAt,\n    completedAt,\n    processingSeconds,\n    notifyStatus: '前端回傳',\n    operator,\n    imageMeta,\n    order_no: ocr.order_no || rows[0]?.workOrderNo || '',\n    date: ocr.date || '',\n    total,\n    passed: total - abnormal,\n    abnormal,\n    rows\n  }\n}];"
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000005",
      "name": "比對 OCR 與品項主檔",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "374b3ad1d1cd80eeb5dff6b5991e1d29"
        },
        "title": "={{ $json.batchId }}",
        "simple": true,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "批次ID|rich_text",
              "textContent": "={{ $json.batchId }}"
            },
            {
              "key": "操作人|rich_text",
              "textContent": "={{ $json.operator.name || $json.operator.displayName || '' }}"
            },
            {
              "key": "LINE userId|rich_text",
              "textContent": "={{ $json.operator.userId || '' }}"
            },
            {
              "key": "來源|select",
              "selectValue": "HTML"
            },
            {
              "key": "上傳時間|date",
              "date": "={{ $json.startedAt }}",
              "includeTime": true,
              "range": false,
              "timezone": "default"
            },
            {
              "key": "完成時間|date",
              "date": "={{ $json.completedAt }}",
              "includeTime": true,
              "range": false,
              "timezone": "default"
            },
            {
              "key": "狀態|select",
              "selectValue": "已寫入"
            },
            {
              "key": "製令單號|rich_text",
              "textContent": "={{ $json.order_no }}"
            },
            {
              "key": "總筆數|number",
              "numberValue": "={{ $json.total }}"
            },
            {
              "key": "通過筆數|number",
              "numberValue": "={{ $json.passed }}"
            },
            {
              "key": "異常筆數|number",
              "numberValue": "={{ $json.abnormal }}"
            },
            {
              "key": "人工修正筆數|number",
              "numberValue": 0
            },
            {
              "key": "圖片檔名|rich_text",
              "textContent": "={{ $json.imageMeta.fileName || '' }}"
            },
            {
              "key": "圖片資訊|rich_text",
              "textContent": "={{ (($json.imageMeta.mimeType || '') + ' ' + ($json.imageMeta.fileSize || '')).trim() }}"
            },
            {
              "key": "處理秒數|number",
              "numberValue": "={{ $json.processingSeconds }}"
            },
            {
              "key": "通知狀態|select",
              "selectValue": "={{ $json.notifyStatus }}"
            },
            {
              "key": "圖片ID|rich_text",
              "textContent": "={{ $json.imageId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000006",
      "name": "建立掃描批次",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        460,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const compare = $('比對 OCR 與品項主檔').first().json;\nconst batchPage = $input.first().json;\n\nreturn compare.rows.map((row) => ({\n  json: {\n    ...row,\n    batchId: compare.batchId,\n    batchUrl: batchPage.url || '',\n    operator: compare.operator || {},\n    summary: {\n      order_no: compare.order_no,\n      date: compare.date,\n      total: compare.total,\n      passed: compare.passed,\n      abnormal: compare.abnormal\n    }\n  }\n}));"
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000007",
      "name": "準備明細寫入資料",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "2f6b3ad1d1cd8068a597e0994b74654c"
        },
        "title": "={{ $json.workOrderNo || $json.orderNo || '未判讀' }}",
        "simple": true,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "製令單號check|checkbox",
              "checkboxValue": "={{ $json.orderNoCheck }}"
            },
            {
              "key": "日期|date",
              "date": "={{ $json.date || '' }}",
              "includeTime": true,
              "range": false,
              "timezone": "default"
            },
            {
              "key": "品號|rich_text",
              "textContent": "={{ $json.partNo }}"
            },
            {
              "key": "品號check|checkbox",
              "checkboxValue": "={{ $json.partNoCheck }}"
            },
            {
              "key": "規格|rich_text",
              "textContent": "={{ $json.spec }}"
            },
            {
              "key": "規格check|checkbox",
              "checkboxValue": "={{ $json.specCheck }}"
            },
            {
              "key": "不良數量|number",
              "numberValue": "={{ $json.defectiveQty }}"
            },
            {
              "key": "需領數量|number",
              "numberValue": "={{ $json.requestQty }}"
            },
            {
              "key": "實領數量|number",
              "numberValue": "={{ $json.receivedQty }}"
            },
            {
              "key": "備註|rich_text",
              "textContent": "={{ $json.note }}"
            },
            {
              "key": "批次ID|rich_text",
              "textContent": "={{ $json.batchId }}"
            },
            {
              "key": "操作人|rich_text",
              "textContent": "={{ $json.operator.name || $json.operator.displayName || '' }}"
            },
            {
              "key": "LINE userId|rich_text",
              "textContent": "={{ $json.operator.userId || '' }}"
            },
            {
              "key": "原始品號|rich_text",
              "textContent": "={{ $json.partNo }}"
            },
            {
              "key": "原始規格|rich_text",
              "textContent": "={{ $json.spec }}"
            },
            {
              "key": "是否人工修正|checkbox",
              "checkboxValue": false
            },
            {
              "key": "比對結果|select",
              "selectValue": "={{ $json.status }}"
            },
            {
              "key": "OCR狀態|select",
              "selectValue": "={{ $json.ocrStatus }}"
            },
            {
              "key": "主檔規格|rich_text",
              "textContent": "={{ $json.masterSpec }}"
            },
            {
              "key": "異常原因|rich_text",
              "textContent": "={{ $json.note }}"
            },
            {
              "key": "Notion批次URL|url",
              "urlValue": "={{ $json.batchUrl }}",
              "ignoreIfEmpty": true
            },
            {
              "key": "錯誤類型|multi_select",
              "multiSelectValue": "={{ $json.errorTypes || [] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000008",
      "name": "建立 OCR 明細",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        940,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const compare = $('比對 OCR 與品項主檔').first().json;\nconst details = $('準備明細寫入資料').all().map((item) => item.json);\nconst createdPages = $input.all().map((item) => item.json);\n\nreturn [{\n  json: {\n    ok: true,\n    batchId: compare.batchId,\n    order_no: compare.order_no,\n    date: compare.date,\n    total: compare.total,\n    passed: compare.passed,\n    abnormal: compare.abnormal,\n    results: details.map((row, index) => ({\n      status: row.status,\n      partNo: row.partNo,\n      spec: row.spec,\n      defectiveQty: row.defectiveQty,\n      requestQty: row.requestQty,\n      receivedQty: row.receivedQty,\n      note: row.note,\n      notionUrl: createdPages[index]?.url || ''\n    }))\n  }\n}];"
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000009",
      "name": "整理回傳結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "b1d6e97f-0a1d-4b0a-a1d8-000000000010",
      "name": "回傳 HTML 結果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1420,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "374b3ad1d1cd80c6a923fd022abc0305"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "none",
        "options": {}
      },
      "id": "ocrperm-00000000000001",
      "name": "讀取人員權限",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -620,
        200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const wh = $('HTML OCR Webhook').first();\nconst body = wh.json?.body || wh.json || {};\nlet operator = {};\ntry {\n  operator = typeof body.operator === 'string' ? JSON.parse(body.operator) : (body.operator || {});\n} catch (e) {\n  operator = {};\n}\nconst userId = String(operator.userId || operator.user_id || body.userId || '').trim();\nconst people = $input.all().map((i) => i.json || {});\n\nfunction propVal(row, name) {\n  const p = row?.properties?.[name];\n  if (p) {\n    switch (p.type) {\n      case 'title': return (p.title || []).map((t) => t.plain_text).join('');\n      case 'rich_text': return (p.rich_text || []).map((t) => t.plain_text).join('');\n      case 'select': return p.select?.name || '';\n      case 'multi_select': return (p.multi_select || []).map((o) => o.name);\n      default: return '';\n    }\n  }\n  for (const k of [name, 'property_' + name]) {\n    if (row?.[k] !== undefined && row?.[k] !== null) return row[k];\n  }\n  return '';\n}\nfunction toList(value) {\n  if (Array.isArray(value)) return value.map((x) => String(x?.name || x).trim()).filter(Boolean);\n  const t = String(value ?? '').trim();\n  if (!t) return [];\n  try { const p = JSON.parse(t); if (Array.isArray(p)) return p.map((x) => String(x?.name || x).trim()).filter(Boolean); } catch (e) {}\n  return t.split(/[,，、]/).map((s) => s.trim()).filter(Boolean);\n}\n\nconst matched = people.find((p) => String(propVal(p, 'LINE userId')).trim() === userId && userId);\nconst status = matched ? String(propVal(matched, '狀態')).trim() : '';\nconst features = matched ? toList(propVal(matched, '可使用功能')) : [];\nconst allowed = Boolean(matched && status === '已開通' && features.includes('OCR補料單'));\nconst operatorName = String(operator.name || operator.displayName || (matched ? propVal(matched, '名稱') : '') || '').trim();\n\nreturn [{\n  json: {\n    ...wh.json,\n    _allowed: allowed,\n    _userId: userId,\n    _operatorName: operatorName,\n    _status: matched ? (status || '待審核') : '未建立',\n    _nowIso: new Date().toISOString()\n  },\n  binary: wh.binary\n}];"
      },
      "id": "ocrperm-00000000000002",
      "name": "驗證操作權限",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ocrperm-gate-c",
              "leftValue": "={{ $json._allowed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ocrperm-00000000000003",
      "name": "是否已授權",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -620,
        -160
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "374b3ad1d1cd80eeb5dff6b5991e1d29"
        },
        "title": "={{ '未授權-' + ($json._nowIso || '').replace(/[-:.TZ]/g, '').slice(0,14) }}",
        "simple": true,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "操作人|rich_text",
              "textContent": "={{ $json._operatorName }}"
            },
            {
              "key": "LINE userId|rich_text",
              "textContent": "={{ $json._userId }}"
            },
            {
              "key": "來源|select",
              "selectValue": "LIFF"
            },
            {
              "key": "上傳時間|date",
              "date": "={{ $json._nowIso }}",
              "includeTime": true,
              "range": false,
              "timezone": "default"
            },
            {
              "key": "狀態|select",
              "selectValue": "待授權"
            },
            {
              "key": "通知狀態|select",
              "selectValue": "不需通知"
            },
            {
              "key": "錯誤訊息|rich_text",
              "textContent": "={{ '未開通或未開放 OCR補料單（狀態：' + $json._status + '）' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ocrperm-00000000000004",
      "name": "記錄待授權批次",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -380,
        180
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, allowed: false, message: '此帳號尚未開通 OCR 補料單權限，請聯絡管理員開通。', status: $('驗證操作權限').first().json._status }) }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "ocrperm-00000000000005",
      "name": "回傳未授權",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -140,
        180
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "HTML OCR Webhook": {
      "main": [
        [
          {
            "node": "讀取人員權限",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "準備 Gemini 請求": {
      "main": [
        [
          {
            "node": "Gemini OCR 分析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini OCR 分析": {
      "main": [
        [
          {
            "node": "解析 OCR JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析 OCR JSON": {
      "main": [
        [
          {
            "node": "讀取品項主檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取品項主檔": {
      "main": [
        [
          {
            "node": "比對 OCR 與品項主檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "比對 OCR 與品項主檔": {
      "main": [
        [
          {
            "node": "建立掃描批次",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立掃描批次": {
      "main": [
        [
          {
            "node": "準備明細寫入資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "準備明細寫入資料": {
      "main": [
        [
          {
            "node": "建立 OCR 明細",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立 OCR 明細": {
      "main": [
        [
          {
            "node": "整理回傳結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理回傳結果": {
      "main": [
        [
          {
            "node": "回傳 HTML 結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取人員權限": {
      "main": [
        [
          {
            "node": "驗證操作權限",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "驗證操作權限": {
      "main": [
        [
          {
            "node": "是否已授權",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否已授權": {
      "main": [
        [
          {
            "node": "準備 Gemini 請求",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "記錄待授權批次",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "記錄待授權批次": {
      "main": [
        [
          {
            "node": "回傳未授權",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "notion-nodes-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "EasanHtmlOcrNotionNodes",
  "tags": []
}
